<div class="slide-item release">
  <a href="toc/{{ journal.url_last_issue }}">
  <div class="col-md-12">
    <span><b>{{ journal }}</b></span>
      <strong>{% trans%}Ano{% endtrans %}: </strong><b>{{ journal.last_issue.year }}</b></br>
      {% if journal.last_issue.volume %}
        <strong>{% trans%}Volume{% endtrans %}: </strong><b>{{ journal.last_issue.volume }}</b></br>
      {% endif %}

      {% if journal.last_issue.number %}
          <strong>{% trans%}Número{% endtrans %}: </strong><b>{{ journal.last_issue.number }}</b></br>
      {% endif %}

      {% if journal.last_issue.suppl_text %}
          <strong>{% trans%}Suplemento{% endtrans %}: </strong><b>{{ journal.last_issue.suppl_text }}</b></br>
      {% endif %}
      <div class="pull-right">
        <!-- toc/ deve ser alterado -->
        
          <strong>{% trans%}Ver{% endtrans %} &raquo;</strong>
        
      </div>
  </div>
  </a>
</div>
