<div class="slide-item release">
  <div class="col-md-12">
    <span>{{ item.publication_date }}</span>
    <a href="{{ item.url }}" target="_blank" style="margin: 5px auto;"><img src="../../../static/img/article-image.jpg" class="img-responsive" /></a>
    <h3 class="ellipsis">{{ item.title }}</h3>
    <div class="ellipsis">
      {{ item.description|striptags|replace('Read More →', '') }}
    </div>
    <a href="{{ item.url }}" target="_blank"><strong>{% trans%}Continue lendo{% endtrans %} &raquo;</strong></a>
  </div>
</div>
