<div class="slide-item release">
	<div class="col-md-12">
		<a href="{{ item.url }}" target="_blank">
			<span>{{ item.publication_date }}</span>
			{% if item.image_url %}
				<img src="{{ item.image_url }}">
			{% else %}
				<img src="../../static/img/img-post-blog-scielo-exemplo.jpg">
			{% endif %}
			<h3 class="ellipsis">{{ item.title }}</h3>
			<div class="ellipsis">
				{{ item.description|striptags|replace('Read More →', '') }}
			</div>
			<strong>{% trans%}Continue lendo{% endtrans %} &raquo;</strong>
		</a>
	</div>
</div>
