<div class="modal fade ModalDefault" id="ModalDownloads" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">{% trans %}Fechar{% endtrans %}</span>
        </button>
        <h4 class="modal-title">{% trans %}Versão para download de PDF{% endtrans%}</h4>
      </div>
      <div class="modal-body">
        <div class="row modal-center">
          <div class="{% if config['READCUBE_ENABLED'] %}col-md-6{% else %}col-md-12{%endif%}">
            <span class="sci-ico-filePDF"></span>
            <br/>
            <strong>PDF</strong>
            <ul class="md-list">
            {% if article and article.pdfs %}
              {% for pdf in article.pdfs  %}
                <li>
                  <a target='_blank' href="{{ url_for('.article_detail_v3', url_seg=article.journal.url_segment, article_pid_v3=article.aid, lang=pdf.lang, format='pdf') }}">
                    {% if pdf.lang == 'es' %}
                      {% trans %}Espanhol{% endtrans %}
                    {% elif pdf.lang == 'en' %}
                      {% trans %}Inglês{% endtrans %}
                    {% elif pdf.lang == 'pt' %}
                      {% trans %}Português{% endtrans %}
                    {% else %}
                      {{ pdf.lang }}
                    {% endif %}
                  </a>
                </li>
              {% endfor %}
            {% endif %}
            </ul>
          </div>
          {% if config['READCUBE_ENABLED'] and article.doi and article.pid %}
            <div class="col-md-6">
              <span class="glyphBtn readcubeViewMid"></span>
              <br/>
              <strong>ReadCube</strong>
              <ul class="md-list">
                <li class="colspan3"><a href="">Visualizar <br/>o texto</a></li>
              </ul>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
