{% import 'macros/images.html' as cimages %}

<div class="alternativeHeader">
  <div class="container">
    <div class="col-md-2 col-sm-3 mainNav">
      <a href="" class="menu" data-rel="#alternativeMainMenu" title="{% trans %}Abrir menu{% endtrans %}">{% trans %}Abrir menu{% endtrans %}</a>
      <h2>
          <a href="{{ url_for('.index') }}" title="{% trans %}Ir para a homepage da coleção:{% endtrans %} {{ g.collection.name or _('NOME DA COLEÇÃO!!') }}">
          <img class="header_drop_image" src="{{ g.collection.logo_drop_menu|default("", true) }}" alt="{{ g.collection.name or _('NOME DA COLEÇÃO!!') }}"></a>
      </h2>
      <div class="mainMenu" id="alternativeMainMenu">
          <div class="row">
              <div class="col-md-7 col-md-offset-2 col-sm-7 col-sm-offset-2 logo">
                  <img src="{{ cimages.get_menu_logo(g.collection, session.lang) }}" alt="{{ g.collection.name or _('NOME DA COLEÇÃO!!') }}">
              </div>
          </div>
          <nav>
            <ul>
            </ul>
          </nav>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 journalInfo">
      <ul>
        <li>
          <a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="text"><span class="truncate">{{ journal.title }} </span><span class="sci-ico-arrowDown"></span></a>
          <ul class="dropdown-menu" role="menu">
            <div class="col-md-9 col-sm-8 brandLogo">
              <div class="row">
              <a href="{{ url_for('.journal_detail', url_seg=journal.url_segment) }}"><img src="{{ journal.logo_url or '' }}" class="image" alt="Logomarca do periódico: {{ journal.title }}" /></a>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 journalMenu">
              <ul>
                {% if journal.online_submission_url and journal.current_status == 'current' %}
                  <li>
                    <a href="{{ journal.online_submission_url|default('', true) }}" target="_blank">
                      <span class="glyphBtn submission"></span> {% trans %}Submissão de manuscritos{% endtrans %}
                    </a>
                  </li>
                {% endif %}
                <li><a href="{{ url_for('.about_journal', url_seg=journal.url_segment) }}#instructions"><span class="glyphBtn authorInstructions"></span> {% trans %}Instruções aos autores{% endtrans %}</a></li>
                <li><a href="{{ url_for('.about_journal', url_seg=journal.url_segment) }}#about"><span class="glyphBtn about"></span> {% trans %}Sobre o periódico{% endtrans %}</a></li>
                <li><a href="{{ url_for('.about_journal', url_seg=journal.url_segment) }}#contact"><span class="glyphBtn contact"></span> {% trans %}Contato{% endtrans %}</a></li>
              </ul>
            </div>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-md-2 col-md-offset-2 col-sm-3 journalMenu">
      <div class="language">
        {% include "includes/language.html" %}
      </div>
    </div>
  </div>
</div>
