<div class="floatingMenuCtt">
  <a class="floatingMenuItem fm-button-child item-goto" data-fm-label="{% trans %}Ir para o topo{% endtrans %}" href="#top">
    <span class="sci-ico-top glyphFloatMenu"></span>
  </a>

  <a href="javascript:;" class="floatingMenuItem fm-button-child item-download" data-fm-label="{% trans %}PDFs{% endtrans %}" data-toggle="modal" data-target="#ModalDownloads">
    <span class="sci-ico-download glyphFloatMenu"></span>
  </a>

  {% if config.USE_METRICS or config.USE_DIMENSIONS or config.USE_PLUMX %}
  <a href="javascript:;" data-toggle="modal" data-target="#metric_modal_id" class="floatingMenuItem fm-button-child item-metrics" data-fm-label="{% trans %}Métricas{% endtrans %}" target="_blank">
    <span class="sci-ico-metrics glyphFloatMenu"></span>
  </a>
  {% endif %}

  <ul class="floatingMenu fm-slidein" data-fm-toogle="hover">
    <li class="fm-wrap">
      <a href="javascript:;" class="fm-button-main">
        <span class="sci-ico-floatingMenuDefault glyphFloatMenu"></span>
        <span class="sci-ico-floatingMenuClose glyphFloatMenu"></span>
      </a>
      <ul class="fm-list">
        {% if not is_pdf_page and article.xml %}
          {# excluimos este item se é a página do PDF #}
          <li>
            <a class="fm-button-child" data-fm-label="{% trans %}Figuras e tabelas{% endtrans %}" data-toggle="modal" data-target="#ModalTablesFigures">
              <span class="sci-ico-figures glyphFloatMenu"></span>
            </a>
          </li>
        {% endif %}
        <li>
          <a class="fm-button-child" data-fm-label="{% trans %}Versões e traduções{% endtrans %}" data-toggle="modal" data-target="#ModalVersionsTranslations">
            <span class="sci-ico-translation glyphFloatMenu"></span>
          </a>
        </li>
        <li>
          <a class="fm-button-child" data-fm-label="{% trans %}Como citar este artigo{% endtrans %}" data-toggle="modal" data-target="#ModalArticles">
            <span class="sci-ico-citation glyphFloatMenu"></span>
          </a>
        </li>
        <li>
          <a class="fm-button-child" data-fm-label="{% trans %}Artigos relacionados{% endtrans %}" data-toggle="modal" data-target="#ModalRelatedArticles">
            <span class="sci-ico-similar glyphFloatMenu"></span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>

<!-- FLOATING MENU ONLY FOR IPAD-->
<ul class="floatingMenuMobile fm-slidein" data-fm-toogle="hover">
  <li class="fm-wrap">
    <a href="javascript:;" class="fm-button-main">
      <span class="sci-ico-floatingMenuDefault glyphFloatMenu"></span>
      <span class="sci-ico-floatingMenuClose glyphFloatMenu"></span>
    </a>
    <ul class="fm-list">
      <li>
        <a class="fm-button-child item-goto" data-fm-label="{% trans %}Ir para o topo{% endtrans %}" href="#top">
          <span class="sci-ico-top glyphFloatMenu"></span>
        </a>
      </li>
      <li>
        <a class="fm-button-child item-download" data-fm-label="{% trans %}PDFs{% endtrans %}" data-toggle="modal" data-target="#ModalDownloads" href="#">
          <span class="sci-ico-download glyphFloatMenu"></span>
        </a>
      </li>
      <li>
        <a data-toggle="modal" data-target="#metric_modal_id" class="fm-button-child item-metrics" data-fm-label="{% trans %}Métricas{% endtrans %}" href="#" target="_blank">
          <span class="sci-ico-metrics glyphFloatMenu"></span>
        </a>
      </li>
      {% if not is_pdf_page and article.xml %}
        {# excluimos este item se é a página do PDF #}
        <li>
          <a class="fm-button-child" data-fm-label="{% trans %}Figuras e tabelas{% endtrans %}" data-toggle="modal" data-target="#ModalTablesFigures" href="#">
            <span class="sci-ico-figures glyphFloatMenu"></span>
          </a>
        </li>
      {% endif %}
      <li>
        <a class="fm-button-child" data-fm-label="{% trans %}Versões e traduções{% endtrans %}" data-toggle="modal" data-target="#ModalVersionsTranslations" href="#">
          <span class="sci-ico-translation glyphFloatMenu"></span>
        </a>
      </li>
      <li>
        <a class="fm-button-child" data-fm-label="{% trans %}Como citar este artigo{% endtrans %}" data-toggle="modal" data-target="#ModalArticles" href="#">
          <span class="sci-ico-citation glyphFloatMenu"></span>
        </a>
      </li>
      <li>
        <a class="fm-button-child" data-fm-label="{% trans %}Artigos e similares{% endtrans %}" data-toggle="modal" data-target="#ModalRelatedArticles" href="#">
          <span class="sci-ico-similar glyphFloatMenu"></span>
        </a>
      </li>
    </ul>
  </li>
</ul>
<!-- FLOATING MENU ONLY FOR IPAD-->
