<ul class="floatingMenu fm-slidein" data-fm-toogle="hover">
  <li class="fm-wrap">
    <a href="javascript:;" class="fm-button-main">
      <span class="sci-ico-floatingMenuDefault glyphFloatMenu"></span>
      <span class="sci-ico-floatingMenuClose glyphFloatMenu"></span>
    </a>
    <ul class="fm-list">
      <li>
        <a class="fm-button-child" data-fm-label="Download" data-toggle="modal" data-target="#ModalDownloads">
          <span class="sci-ico-download glyphFloatMenu"></span>
        </a>
      </li>
      <li>
        <a class="fm-button-child" data-fm-label="Figuras e tabelas" data-toggle="modal" data-target="#ModalTablesFigures">
          <span class="sci-ico-figures glyphFloatMenu"></span>
        </a>
      </li>
      <li>
        <a class="fm-button-child" data-fm-label="Versões e traduções" data-toggle="modal" data-target="#ModalVersionsTranslations">
          <span class="sci-ico-translation glyphFloatMenu"></span>
        </a>
      </li>
      <li>
        <a class="fm-button-child" data-fm-label="Como citar este artigo" data-toggle="modal" data-target="#ModalArticles">
          <span class="sci-ico-citation glyphFloatMenu"></span>
        </a>
      </li>
      <li>
        <a href="{{ config.METRICS_URL }}/w/accesses?document={{ article.pid }}&amp;collection={{ config.OPAC_COLLECTION }}" class="fm-button-child" data-fm-label="Métricas" target="_blank">
          <span class="sci-ico-metrics glyphFloatMenu"></span>
        </a>
      </li>
      <li>
        <a class="fm-button-child" data-fm-label="Artigos e similares" data-toggle="modal" data-target="#ModalRelatedArticles">
          <span class="sci-ico-similar glyphFloatMenu"></span>
        </a>
      </li>
    </ul>
  </li>
</ul>
