<a name="top"></a>
<header>
    <div class="container">
        <div class="topFunction">
            <div class="col-md-2 col-sm-3 mainNav">
                <div class="mainMenu" id="mainMenu">
                    <div class="row">
                        <div class="col-md-7 col-md-offset-2 col-sm-7 col-sm-offset-2 logo">
                            <!-- <img src="../static/img/logo-scielo-journal-brasil.png" alt="SciELO Brasil"> -->
                        </div>
                    </div>
                    {% include "collection/includes/nav.html" %}
                </div>
            </div>
        </div>
    </div>
</header>