        <!-- exibe somente no sm -->
        <div class="cttMenuNavigationMobile hidden-lg hidden-md">

          <div class="col-lg-1 col-md-2 col-sm-3">
              
              <div class="btn-group" role="group" aria-label="...">
                <a href="{{ url_for('.journal_detail', url_seg=journal.url_segment) }}" class="btn single" style="width:auto;">
                  <span class="sci-ico-home"></span>
                </a>
                {# Sumário #}
                <a href="{{ url_for('.issue_toc', url_seg=article.journal.url_segment, url_seg_issue=issue.url_segment) }}" class="btn group no-ico-util" style="width:auto;">
                    {% trans %}sumário{% endtrans %}
                </a>
              </div>

          </div>

        </div>
        <!-- exibe somente no sm -->