<!-- Exibe para todos dispositivos menos mobile -->
<section class="levelMenu hidden-xs">
    <div class="container">
        
        <div class="col-lg-6 col-md-6 col-sm-5">

          <div class="btn-group">
            <a href="{{ url_for('.journal_detail', url_seg=journal.url_segment) }}" class="btn">
              <span class="sci-ico-home"></span>
            </a>
            
            {# Sumário #}
            <a href="{{ url_for('.issue_toc', url_seg=article.journal.url_segment, url_seg_issue=issue.url_segment) }}" class="btn group">
                {% trans %}sumário{% endtrans %}
            </a>

            {# Anterior #}
              {% if not previous_article %}
                  <a href="#" class="btn group disabled hidden-sm">
              {% else %}
                {% if is_pdf_page -%}
                  <a target='_blank' href="{{ url_for('.article_detail_v3', url_seg=journal.url_segment, article_pid_v3=article.aid, goto='previous', format='pdf') }}" class="btn group hidden-sm">
                {%- else -%}
                  <a href="{{ url_for('.article_detail_v3', url_seg=journal.url_segment, article_pid_v3=article.aid, part=part, lang=article_lang, goto='previous') }}" class="btn group hidden-sm">
                {% endif %}
              {%- endif %}
                <span class="hidden-md">&laquo; {% trans %}anterior{% endtrans %}</span>
                <span class="sci-ico-arrowLeft hidden-lg"></span>
              </a>

            {# Atual #}
            <a href="#" class="btn group disabled hidden-sm">
                {% trans %}atual{% endtrans %}
            </a>

            {# Próximo #}
            {% if not next_article %}
                <a href="#" class="btn group disabled hidden-sm">
            {% else %}
              {%- if is_pdf_page -%}
                <a target='_blank' href="{{ url_for('.article_detail_v3', url_seg=journal.url_segment, article_pid_v3=article.aid, goto='next', format='pdf') }}" class="btn group hidden-sm">
              {%- else -%}
                <a href="{{ url_for('.article_detail_v3', url_seg=journal.url_segment, article_pid_v3=article.aid, part=part, lang=article_lang, goto='next') }}" class="btn group hidden-sm">
              {%- endif %}
            {%- endif %}
              <span class="hidden-md">{% trans %}seguinte{% endtrans %} &raquo;</span>
              <span class="sci-ico-arrowRight hidden-lg"></span>
            </a>

          </div>
        </div>

        <div class="col-lg-4 col-md-5 col-sm-6">
          {% include "article/includes/levelMenu_abstracts.html" %}
          {% include "article/includes/levelMenu_texts.html" %}
          {% include "article/includes/levelMenu_pdf.html" %}
        </div>

        <div class="col-lg-2 col-md-1 col-sm-1 share">
          <span class="hidden-sm">{% trans %}Compartilhe{% endtrans %}</span>
            <a href="javascript:;" class="btn dropdown-toggle" data-toggle="dropdown">
              <span class="sci-ico-socialOther"></span><span class="caret"></span>
            </a>
            <ul class="dropdown-menu menu-share-mobile" role="menu">
              <li class="dropdown-header">
                {% trans %}Compartilhe{% endtrans %}
              </li>
              <li>
                <a href="#" class="share_modal_id">
                  <span class="sci-ico-socialEmail"></span> E-mail
                </a>
              </li>
              <li>
                <a href="#" class="shareFacebook">
                  <span class="sci-ico-socialFacebook"></span> Facebook
                </a>
              </li>
              <li>
                <a href="#" class="shareTwitter">
                  <span class="sci-ico-socialTwitterSingle"></span> Twitter
                </a>
              </li>
              <li>
                <a href="#" class="shareGooglePlus">
                  <span class="glyphBtn googlePlus"></span> Google+
                </a>
              </li>
              <li>
                <a href="#" class="shareLinkedIn">
                  <span class="glyphBtn linkedIn"></span> LinkedIn
                </a>
              </li>
              <li>
                <a href="#" class="shareReddit">
                  <span class="glyphBtn reddit"></span> Reddit
                </a>
              </li>
              <li>
                <a href="#" class="shareStambleUpon">
                  <span class="glyphBtn stambleUpon"></span> StambleUpon
                </a>
              </li>
              <li>
                <a href="#" class="shareCiteULike">
                  <span class="glyphBtn citeULike"></span> CiteULike
                </a>
              </li>
              <li>
                <a href="#" class="shareMendeley">
                  <span class="glyphBtn mendeley"></span> Mendeley
                </a>
              </li>
            </ul>
        </div>

    </div>
</section>


<!-- Exibe somente no mobile -->
<section class="levelMenu levelMenu-xs hidden-sm hidden-md hidden-lg">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="btn-group btn-group-nav-mobile" role="group">
            
            <a href="{{ url_for('.journal_detail', url_seg=journal.url_segment) }}" class="btn">
              <span class="sci-ico-home"></span>
            </a>
            <a href="{{ url_for('.issue_toc', url_seg=article.journal.url_segment, url_seg_issue=issue.url_segment) }}" class="btn no-ico-util">
              {% trans %}Sumário{% endtrans %}
            </a>
            <a href="javascript:;" class="btn dropdown-toggle" data-toggle="dropdown">
              <span class="sci-ico-socialOther"></span><span class="caret"></span>
            </a>
            <ul class="dropdown-menu menu-share-mobile" role="menu">
              <li class="dropdown-header">
                {% trans %}Compartilhe{% endtrans %}
              </li>
              <li>
                <a href="#" class="share_modal_id">
                  <span class="sci-ico-socialEmail"></span> E-mail
                </a>
              </li>
              <li>
                <a href="#" class="shareFacebook">
                  <span class="sci-ico-socialFacebook"></span> Facebook
                </a>
              </li>
              <li>
                <a href="#" class="shareTwitter">
                  <span class="sci-ico-socialTwitterSingle"></span> Twitter
                </a>
              </li>
              <li>
                <a href="#" class="shareGooglePlus">
                  <span class="glyphBtn googlePlus"></span> Google+
                </a>
              </li>
              <li>
                <a href="#" class="shareLinkedIn">
                  <span class="glyphBtn linkedIn"></span> LinkedIn
                </a>
              </li>
              <li>
                <a href="#" class="shareReddit">
                  <span class="glyphBtn reddit"></span> Reddit
                </a>
              </li>
              <li>
                <a href="#" class="shareStambleUpon">
                  <span class="glyphBtn stambleUpon"></span> StambleUpon
                </a>
              </li>
              <li>
                <a href="#" class="shareCiteULike">
                  <span class="glyphBtn citeULike"></span> CiteULike
                </a>
              </li>
              <li>
                <a href="#" class="shareMendeley">
                  <span class="glyphBtn mendeley"></span> Mendeley
                </a>
              </li>
            </ul>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="btn-group btn-group-nav-mobile-content" role="group">
            {% include "article/includes/levelMenu_abstracts.html" %}
            {% include "article/includes/levelMenu_texts.html" %}
            {% include "article/includes/levelMenu_pdf.html" %}
          </div>
        </div>
      </div>
    </div>
</section>
