        <!-- exibe somente no md -->
        <div class="cttMenuNavigationMobile hidden-sm hidden-lg">

          <div class="col-lg-7 col-md-5 col-sm-6">
            <div class="btn-group">
              
              <a href="{{ url_for('.journal_detail', url_seg=journal.url_segment) }}" class="btn --single" style="text-align:center">
                <span class="sci-ico-home"></span>
              </a>
              {# Sumário #}
              <a href="{{ url_for('.issue_toc', url_seg=article.journal.url_segment, url_seg_issue=issue.url_segment) }}" class="btn group no-ico-util">
                  {% trans %}sumário{% endtrans %}
              </a>

              {# Anterior #}
                {% if not previous_article %}
                    <a href="#" class="btn disabled">
                {% else %}
                  {% if is_pdf_page -%}
                    <a target='_blank' href="{{ url_for('.article_detail_v3', url_seg=journal.url_segment, article_pid_v3=article.aid, goto='previous', format='pdf') }}" class="btn">
                  {%- else -%}
                    <a href="{{ url_for('.article_detail_v3', url_seg=journal.url_segment, article_pid_v3=article.aid, part=part, lang=article_lang, goto='previous') }}" class="btn">
                  {% endif %}
                {%- endif %}
                  <span class="sci-ico-arrowLeft">
                </a>

              {# Atual #}
              <a href="#" class="btn group no-ico-util selected">
                  {% trans %}atual{% endtrans %}
              </a>

              {# Próximo #}
              {% if not next_article %}
                  <a href="#" class="btn disabled">
              {% else %}
                {%- if is_pdf_page -%}
                  <a target='_blank' href="{{ url_for('.article_detail_v3', url_seg=journal.url_segment, article_pid_v3=article.aid, goto='next', format='pdf') }}" class="btn">
                {%- else -%}
                  <a href="{{ url_for('.article_detail_v3', url_seg=journal.url_segment, article_pid_v3=article.aid, part=part, lang=article_lang, goto='next') }}" class="btn">
                {%- endif %}
              {%- endif %}
                  <span class="sci-ico-arrowRight">
              </a>

            </div>
          </div>

        </div>