        <!-- exibe somente no lg -->
        <div class="cttMenuNavigation hidden-sm hidden-md">

          <div class="col-lg-2 col-md-2 col-sm-2">
              <a href="{{ url_for('.journal_detail', url_seg=journal.url_segment) }}" class="btn single">
                  <span class="sci-ico-home"></span>{% trans %}home do periodico{% endtrans %}
              </a>
          </div>

          <div class="col-lg-5 col-md-5 col-sm-5">
            <div class="btn-group">
              {# Sumário #}
              <a href="{{ url_for('.issue_toc', url_seg=article.journal.url_segment, url_seg_issue=issue.url_segment) }}" class="btn group">
                  {% trans %}sumário{% endtrans %}
              </a>

              {# Anterior #}
                {% if not previous_article %}
                    <a href="#" class="btn group disabled">
                {% else %}
                  {% if is_pdf_page -%}
                    <a target='_blank' href="{{ url_for('.article_detail_v3', url_seg=journal.url_segment, article_pid_v3=article.aid, goto='previous', format='pdf') }}" class="btn group">
                  {%- else -%}
                    <a href="{{ url_for('.article_detail_v3', url_seg=journal.url_segment, article_pid_v3=article.aid, part=part, lang=article_lang, goto='previous') }}" class="btn group">
                  {% endif %}
                {%- endif %}
                  &laquo; {% trans %}anterior{% endtrans %}
                </a>

              {# Atual #}
              <a href="#" class="btn group disabled">
                  {% trans %}atual{% endtrans %}
              </a>

              {# Próximo #}
              {% if not next_article %}
                  <a href="#" class="btn group disabled">
              {% else %}
                {%- if is_pdf_page -%}
                  <a target='_blank' href="{{ url_for('.article_detail_v3', url_seg=journal.url_segment, article_pid_v3=article.aid, goto='next', format='pdf') }}" class="btn group">
                {%- else -%}
                  <a href="{{ url_for('.article_detail_v3', url_seg=journal.url_segment, article_pid_v3=article.aid, part=part, lang=article_lang, goto='next') }}" class="btn group">
                {%- endif %}
              {%- endif %}
                  {% trans %}seguinte{% endtrans %} &raquo;
              </a>

            </div>
          </div>

        </div>