<section class="levelMenu">
    <div class="container">
        <div class="col-md-2 col-sm-2">
            <h2>&#160;</h2>
            <a href="{{ url_for('.journal_detail', journal_id=article.journal) }}" class="btn single"><span class="glyphBtn home"></span> home</a>
        </div>
        <div class="col-md-5 col-sm-5">
            <h2><span class="glyphBtn articles"></span> {% trans yeara=issue.year, volume=issue.volume, number=issue.number %}Artigos do Ano {{ year }}, Volume {{ volume }} Número {{ number }}{% endtrans %}</h2>
            <div class="btn-group">
                <a href="{{ url_for('.issue_grid', journal_id=article.journal.jid) }}" class="btn group">{% trans %}sumário{% endtrans %}</a>
                <a href="javascript:;" class="btn group">« {% trans %}anterior{% endtrans %}</a>
                <a href="{{ url_for('.article_detail', article_id=article.aid) }}" class="btn group selected">{% trans %}atual{% endtrans %}</a>
                <a href="javascript:;" class="btn group">{% trans %}próximo{% endtrans %} »</a>
            </div>
        </div>
        <div class="col-md-5 col-sm-5 downloadOptions">
            <h2><span class="glyphBtn articleDownload"></span> {% trans %}Outras versões deste artigo{% endtrans %}</h2>
            <div class="btn-group">
                <ul>
                    <li class="group" style="width: 25%;">
                        <a href="javascript:;" class="btn dropdown-toggle" data-toggle="dropdown"><span class="glyphBtn pdfDownload"></span> PDF</a>
                        <ul class="dropdown-menu">
                            <li><a href="">{% trans %}Espanhol{% endtrans %}</a></li>
                            <li><a href="">{% trans %}Inglês{% endtrans %}</a></li>
                            <li><a href="">{% trans %}Português{% endtrans %}</a></li>
                        </ul>
                    </li>
                    <li class="group" style="width: 25%;">
                        <a href="javascript:;" class="btn group"><span class="glyphBtn epubDownload"></span> ePUB</a>
                    </li>
                    <li class="group" style="width: 25%;">
                        <a href="javascript:;" class="btn group"><span class="glyphBtn readcubeView"></span> readcube</a>
                    </li>
                    <li class="group" style="width: 25%;">
                        <a href="javascript:;" class="btn group"><span class="glyphBtn xmlDownload"></span> XML</a>
                        <ul class="dropdown-menu">
                            <li><a href="">{% trans %}Espanhol{% endtrans %}</a></li>
                            <li><a href="">{% trans %}Inglês{% endtrans %}</a></li>
                            <li><a href="">{% trans %}Português{% endtrans %}</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>
