
{% if journal.title -%}
    <meta name="citation_journal_title" content="{{ journal.title }}"></meta>
{% endif -%}

{% if journal.short_title -%}
    <meta name="citation_journal_abbrev" content="{{ journal.short_title }}"></meta>
{% endif -%}

{% if journal.title_iso -%}
    <meta name="citation_journal_abbrev" content="{{ journal.title_iso }}"></meta>
{% endif -%}

{% if journal.publisher_name -%}
    <meta name="citation_publisher" content="{{ journal.publisher_name }}"></meta>
{% endif -%}

{% for author in article.authors -%}
  <meta name="citation_author" content="{{ author }}"></meta>
{% endfor -%}

{% if journal.title -%}
    <meta name="citation_title" content="{{ journal.title|escape }}"></meta>
{% endif -%}

{% if issue.volume -%}
    <meta name="citation_volume" content="{{ issue.volume }}"></meta>
{% endif -%}

{% if issue.number -%}
    <meta name="citation_number" content="{{ issue.number }}"></meta>
{% endif -%}

{% if article.elocation -%}
   <meta name="citation_firstpage" content="{{ article.elocation }}"></meta>
{% else -%}
    {% if article.fpage -%}
       <meta name="citation_firstpage" content="{{ article.fpage }}"></meta>
    {% endif -%}
    {% if article.lpage -%}
       <meta name="citation_lastpage" content="{{ article.lpage }}"></meta>
    {% endif -%}
{% endif -%}

{% if article.doi -%}
    <meta name="citation_doi" content="{{ article.doi }}"></meta>
{% endif -%}

<meta name="citation_fulltext_world_readable" content=""></meta>

{% if journal.scielo_issn -%}
    <meta name="citation_issn" content="{{ journal.scielo_issn }}"></meta>
{% endif -%}

{% if journal.print_issn -%}
    <meta name="citation_issn" content="{{ journal.print_issn }}"></meta>
{% endif -%}

{% if journal.eletronic_issn -%}
    <meta name="citation_issn" content="{{ journal.eletronic_issn }}"></meta>
{% endif -%}

{% if article.original_language -%}
    <meta name="citation_language" content="{{ article.original_language }}"></meta>
{% endif -%}

{% if article.abstract -%}
    <meta name="citation_abstract" content="{{ article.abstract|escape }}"></meta>
{% endif -%}

{% if article.type -%}
    <meta name="citation_article_type" content="{{ article.type }}"></meta>
{% endif -%}

{% if article.publication_date -%}
    <meta name="citation_publication_date" content="{{ article.publication_date }}"></meta>
{% endif -%}

{%- if article.keywords -%}
    {%- for articlekeywords in article.keywords -%}
        {%- if article_lang == articlekeywords.language -%}
            {%- for key in articlekeywords.keywords -%}
                <meta name="citation_keywords" content="{{ key }}"></meta>
            {%- endfor -%}
        {%- endif -%}
    {%- endfor -%}
{%- endif -%}






