
<!-- social share tags -->
<meta property="og:url" content="{{ request.url }}"/>
<meta property="og:type" content="article"/>
<meta property="og:title" content="{{ article.title }}"/>
<meta property="og:description" content="{{ article.abstract|escape|truncate(100) }}"/>
<meta property="og:image" content="{{request.url_root}}{{ journal.logo_url|replace("/", "" , 1)}}"/>
<!-- social share tags -->

{% if article.authors_meta -%}

    {% for au in article.authors_meta -%}

        <meta name="citation_author" content="{{ au.name }}">
        {% if au.affiliation %}
            <meta name="citation_author_affiliation" content="{{ au.affiliation }}">
        {% endif %}
        {% if au.orcid %}
            <meta name="citation_author_orcid" content="{{ config.ORCID_URL }}{{ au.orcid }}">
        {% endif %}

    {%- endfor -%}

{% else %}

    {% for author in article.authors -%}
        <meta name="citation_author" content="{{ author }}"></meta>
    {% endfor -%}

{% endif -%}

{% if journal.title -%}
    <meta name="citation_journal_title" content="{{ journal.title }}"></meta>
{% endif -%}

{% if journal.short_title -%}
    <meta name="citation_journal_abbrev" content="{{ journal.short_title }}"></meta>
{% endif -%}

{% if journal.title_iso -%}
    <meta name="citation_journal_abbrev" content="{{ journal.title_iso }}"></meta>
{% endif -%}

{% if journal.publisher_name -%}
    <meta name="citation_publisher" content="{{ journal.publisher_name }}"></meta>
{% endif -%}

{% if issue.volume -%}
    <meta name="citation_volume" content="{{ issue.volume }}"></meta>
{% endif -%}

{% if issue.number -%}
    <meta name="citation_number" content="{{ issue.number }}"></meta>
{% endif -%}

{% if citation_pdf_url -%}
    <meta name="citation_pdf_url" content="{{ citation_pdf_url }}"></meta>
{% endif -%}

{% if citation_xml_url -%}
    <meta name="citation_xml_url" content="{{ citation_xml_url }}"></meta>
{% endif -%}

{% if article.elocation -%}
   <meta name="citation_firstpage" content="{{ article.elocation }}"></meta>
{% else -%}
    {% if article.fpage -%}
       <meta name="citation_firstpage" content="{{ article.fpage }}"></meta>
    {% endif -%}
    {% if article.lpage -%}
       <meta name="citation_lastpage" content="{{ article.lpage }}"></meta>
    {% endif -%}
{% endif -%}

{% if article.doi -%}
    <meta name="citation_doi" content="{{ article.doi }}"></meta>
{% endif -%}

<meta name="citation_fulltext_world_readable" content=""></meta>


{% if journal.print_issn -%}
    <meta name="citation_issn" content="{{ journal.print_issn }}"></meta>
{% endif -%}

{% if journal.eletronic_issn -%}
    <meta name="citation_issn" content="{{ journal.eletronic_issn }}"></meta>
{% endif -%}

{% if article.original_language == article_lang %}
    {% if article.title -%}
        <meta name="citation_title" content="{{ article.title|escape }}"></meta>
    {% endif -%}
{%else -%}
    {%- if article.translated_titles -%}
        {%- for title in article.translated_titles -%}
            {%- if article_lang == title.language -%}
                <meta name="citation_title" content="{{ title.name|escape }}"></meta>
            {%- endif -%}
        {%- endfor -%}
    {%- endif -%}
{% endif -%}

<meta name="citation_language" content="{{ article_lang }}"></meta>

{% if article.abstract -%}
    <meta name="citation_abstract" content="{{ article.abstract|escape }}"></meta>
{% endif -%}

{% if article.type -%}
    <meta name="citation_article_type" content="{{ article.type }}"></meta>
{% endif -%}

{% if article.publication_date -%}
    <meta name="citation_publication_date" content="{{ article.publication_date }}"></meta>
{% endif -%}

{%- if article.keywords -%}
    {%- for articlekeywords in article.keywords -%}
        {%- if article_lang == articlekeywords.language -%}
            {%- for key in articlekeywords.keywords -%}
                <meta name="citation_keywords" content="{{ key }}"></meta>
            {%- endfor -%}
        {%- endif -%}
    {%- endfor -%}
{%- endif -%}
