<div class="slide-item release">
  <div class="col-md-12">
    <a href="{{ url_for('.article_detail_v3', url_seg=article.journal.url_segment, article_pid_v3=article.aid) }}">
      {% if session.lang %}
        <h3 class="ellipsis">
          {{ article.get_title_by_lang(session.lang[:2])|default(_('Documento sem título'), true)|striptags }}
        </h3>
      {% endif %}

      <div class="info">
        {{ latest_issue_legend|default('--', True) }}
        <br>
        <strong>{% trans%}Continue lendo{% endtrans %} &raquo;</strong>
      </div>
    </a>
  </div>
</div>
