<div class="slide-item release">
  <div class="col-md-12">
    <a href="{{ url_for('.article_detail', url_seg=article.journal.url_segment, url_seg_issue=article.issue.url_segment, url_seg_article=article.url_segment) }}">
      {% if session.lang %}
        <h3 class="ellipsis">
          {{ article.get_title_by_lang(session.lang[:2])|default(_('Documento sem título'), true)|striptags }}
        </h3>
      {% endif %}

      <div class="info">
        {{ latest_issue_legend|default('--', True) }}
        <br>
        <strong>{% trans%}continue lendo{% endtrans %} &raquo;</strong>
      </div>
    </a>
  </div>
</div>
