<div class="related-panel" style="display: none;">
    <div class="panel article-correction-title">

        {% for related in article.related_articles %}
            <div class="panel-heading">
                {% if related.related_type == "corrected-article" %}
                    {% trans %}Esta errata corrige o documento{% endtrans %}:
                {% elif related.related_type == "retracted-article" %}
                    {% trans %}Esta retratação retrata o documento{% endtrans %}:
                {% elif related.related_type == "commentary-article" or related.related_type == "article-commentary" %}
                    {% trans %}Este documento possui um comentário{% endtrans %}:
                {% elif related.related_type == "addendum" %}
                    {% trans %}Este documento possui um adendo{% endtrans %}:
                {% elif related.related_type == "retraction" %}
                    {% trans %}Este documento possui uma retratação{% endtrans %}:
                {% elif related.related_type == "correction" %}
                    {% trans %}Este documento possui uma errata{% endtrans %}:
                {% endif %}
            </div>

            <div class="panel-body">
                <ul>
                    <li>
                        <a href="https://doi.org/{{ related.doi }}" target="_blank">{{ related.doi }}</a>
                    </li>
                </ul>
            </div>
        {% endfor %}

    </div>
</div>