<header>
  <div class="container">
    <div class="topFunction">
      <div class="col-md-3 col-sm-4 mainNav">
          <a href="" class="menu" data-rel=".mainMenu" title="Abrir menu">Abrir menu</a>
          <div class="mainMenu">
            <nav>
              <ul>
                <li>
                  <a href="{{ url_for('index') }}"><strong>SciELO Brasil</strong></a>
                  <ul>
                      <li><a href="{{ url_for('collection_list_alpha') }}">Lista alfabética de periódicos</a></li>
                      <li><a href="{{ url_for('collection_list_theme') }}">Lista temática de periódicos</a></li>
                      <li><a href="/Colecao/edit.html">Lista de periódicos por editoras</a></li>
                      <li><a href="/Colecao/buscar.html">Busca</a></li>
                      <li><a href="/Colecao/metricas.html">Métricas</a></li>
                      <li><a href="/Colecao/sobre.html">Sobre o SciELO Brasil</a></li>
                      <li><a href="/Colecao/contatos.html">Contatos</a></li>
                  </ul>
                </li>
                <li>
                  <a href="/Rede/"><strong>SciELO.org - Rede SciELO</strong></a>
                  <ul>
                    <li><a href="http://www.scielo.org/php/index.php">Coleções nacionais e temáticas</a></li>
                    <li><a href="http://www.scielo.org/applications/scielo-org/php/secondLevel.php?xml=secondLevelForAlphabeticList&xsl=secondLevelForAlphabeticList">Lista alfabética de periódicos</a></li>
                    <li><a href="http://www.scielo.org/applications/scielo-org/php/secondLevel.php?xml=secondLevelForSubjectByLetter&xsl=secondLevelForSubjectByLetter">Lista de periódicos por assunto</a></li>
                    <li><a href="/Colecao/buscar.html">Busca</a></li>
                    <li><a href="http://www.scielo.org/applications/scielo-org/php/siteUsage.php">Métricas</a></li>
                    <li><a href="http://www.scielo.org/php/level.php?lang=pt&component=56&item=9">Acesso OAI e RSS</a></li>
                    <li><a href="http://www.scielo.org/php/level.php?lang=pt&component=56&item=8">Sobre a Rede SciELO</a></li>
                    <li><a href="#">Contatos</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#"><strong>Portal do Autor</strong></a>
                </li>
                <li>
                  <a href="http://blog.scielo.org/"><strong>Blog SciELO em Perspectiva</strong></a>
                </li>
              </ul>
            </nav>
        </div>
      </div>
      <div class="col-md-6 col-sm-4 brandLogo">
        <h1>
          <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/collection/logo-scielo-br-pt.png') }}" alt="SciELO Brazil"></a>
        </h1>
      </div>
      <div class="col-md-3 col-sm-4 language">
        <a href="{{ url_for('index') }}" class="lang-en" lang="en">English</a>
        <a href="{{ url_for('index') }}" class="lang-es" lang="es">Español</a>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</header>
