<section class="levelMenu">
  <div class="container">
    <a href="#" class="onlineSubmission"><span class="glyphBtn authorInfo"></span> Portal do Autor</a>
    <div class="col-md-2 col-sm-2">
      <h2>&#160;</h2>
      <a href="{{ url_for('.index') }}" class="btn single"><span class="glyphBtn home"></span> Home</a>
    </div>
    <div class="col-md-2 col-sm-2">
      <h2>&#160;</h2>
      <a href="/Colecao/buscar.html" class="btn single"><span class="glyphBtn search"></span> <span class="hidden-sm">Buscar artigos</span> <span class="hidden-md hidden-lg">Buscar</span></a>
    </div>
    <div class="col-md-4 col-sm-4">
      <h2><span class="glyphBtn numbers"></span> Lista de Periódicos:</h2>
      <div class="btn-group">
          <a href="{{ url_for('.collection_list_alpha') }}" class="btn group selected">Alfabética</a>
          <a href="{{ url_for('.collection_list_theme') }}" class="btn group">Temática</a>
          <a href="{{ url_for('.collection_list_institution') }}" class="btn group">Por instituição</a>
      </div>
    </div>
    <div class="col-md-2 col-sm-2">
      <h2>&#160;</h2>
      <a href="/Colecao/metricas.html" class="btn single"><span class="glyphBtn metrics"></span> Métricas</a>
    </div>
    <div class="col-md-2 col-sm-2 dropdown-container">
      <h2>&#160;</h2>
      <a href="/Colecao/sobre.html" class="btn single dropdown-toggle"><span class="glyphBtn infoMenu"></span> <span class="hidden-sm">Sobre o SciELO</span> <span class="hidden-md hidden-lg">Sobre</span></a>
      <ul class="dropdown-menu">
          <li><a href="/Colecao/sobre.html#about-collection">Sobre o SciELO Brasil</a></li>
          <li><a href="/Colecao/sobre.html#about-network">Sobre a Rede SciELO</a></li>
          <li><a href="/Colecao/sobre.html#evaluation">Avaliação de periódicos</a></li>
          <li><a href="/Colecao/sobre.html#team">Equipe SciELO Brasil</a></li>
      </ul>
    </div>
  </div>
</section>
