{% extends "base.html" %}

{% block ie7_extra_namespaces %}xmlns:mml="http://www.w3.org/1998/Math/MathML"{% endblock ie7_extra_namespaces %}
{% block ie8_extra_namespaces %}xmlns:mml="http://www.w3.org/1998/Math/MathML"{% endblock ie8_extra_namespaces %}
{% block ie9_extra_namespaces %}xmlns:mml="http://www.w3.org/1998/Math/MathML"{% endblock ie9_extra_namespaces %}
{% block extra_namespaces %}xmlns:mml="http://www.w3.org/1998/Math/MathML"{% endblock extra_namespaces %}

{% block body_class %}journal{% endblock %}
{% block content %}
  {% include "journal/includes/header.html" %}
  <!-- alterar o levelmenu -->
  {% include "journal/includes/levelMenu.html" %}

  {% block main_content %}{% endblock %}

  {% include "includes/footer.html" %}

  <div class="modal fade" id="contact_modal_id" tabindex="-1" role="dialog" aria-hidden="true"></div>

{% endblock %}

{% block extra_js %}
  {% if config.MATHJAX_CDN_URL and has_math_content %}
    <script sync src="{{ config.MATHJAX_CDN_URL }}" charset="utf-8"></script>
  {% endif %}
{% endblock %}
