{% extends "issue/base.html" %}

{% block main_content %}

  <section class="journalContent">
    <div class="container">
      <div class="col-md-4 col-md-offset-8 share">
        <a href="javascript:window.print();" class="sharePrint showTooltip" data-placement="top" title="Imprimir"><span class="glyphBtn print"></span></a>
        <a href="{{ url_for('main.journal_feed', url_seg=journal.url_segment)}}" class="showTooltip" data-placement="top" title="Atom" target="blank"><span class="glyphBtn rssMini"></span></a>
        <span class="divisor"></span>
        {% trans %}Compartilhe{% endtrans %}
        <a href="" class="sendViaMail showTooltip" data-placement="top" title="Enviar link por e-mail"><span class="glyphBtn sendMail"></span></a>
        <a href="" class="shareFacebook showTooltip" data-placement="top" title="Compartilhar no Facebook"><span class="glyphBtn facebook"></span></a>
        <a href="" class="shareTwitter showTooltip" data-placement="top" title="Compartilhar no Twitter"><span class="glyphBtn twitter"></span></a>
        <a href="" class="showTooltip dropdown-toggle" data-toggle="dropdown" data-placement="top" title="Outras redes sociais"><span class="glyphBtn otherNetworks"></span></a>
        <ul class="dropdown-menu">
          <li class="dropdown-header">{% trans %}Outras redes sociais{% endtrans %}</li>
          <li><a href="" class="shareGooglePlus"><span class="glyphBtn googlePlus"></span> Google+</a></li>
          <li><a href="" class="shareLinkedIn"><span class="glyphBtn linkedIn"></span> LinkedIn</a></li>
          <li><a href="" class="shareReddit"><span class="glyphBtn reddit"></span> Reddit</a></li>
          <li><a href="" class="shareStambleUpon"><span class="glyphBtn stambleUpon"></span> StambleUpon</a></li>
          <li><a href="" class="shareCiteULike"><span class="glyphBtn citeULike"></span> CiteULike</a></li>
          <li><a href="" class="shareMendeley"><span class="glyphBtn mendeley"></span> Mendeley</a></li>
        </ul>
      </div>
      <div class="col-md-12 content issueList" id="issueList">
        {% if result_dict %}
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <h1>{% trans %}Todos os números{% endtrans %}</h1>
            </div>
          </div>
          <table>
            <thead>
              <tr>
                <td class="col-xs-1">{% trans %}Ano{% endtrans %}</td>
                <th class="col-xs-1">{% trans %}Volume{% endtrans %}</th>
                <td class="col-xs-10 left">{% trans %}Número{% endtrans %}
                </td>
              </tr>
            </thead>
            <tbody>
              {% if ahead %}
                <tr>
                  <td> - </td>
                <th> - </th>
                <td class="left">
                  <span class="rigth">
                    <a href="{{ url_for('.issue_toc', url_seg=journal.url_segment,
                  url_seg_issue=ahead.url_segment) }}" class="btn ahead">ahead of print</a>
                  </span>
                </td>
              {% endif %}
              {% for year,v in result_dict.items() %}
                {% for volume, issue_list in v.items() %}
                  <tr>
                    <td>{{ year }}</td>
                    <th>
                      {{ volume }}
                    </th>
                    <td class="left">
                      {# Verificando se é um número de volume #}
                      {% if volume in volume_issue %}
                        <a href="{{ url_for('.issue_toc', url_seg=journal.url_segment,
                                  url_seg_issue=volume_issue[volume].issue.url_segment) }}" class="btn ahead">{{ volume_issue[volume].art_count }} {% trans %}artigos{% endtrans %}</a>
                      {% endif %}
                      {% for issue in issue_list|sort(attribute='order') %}
                        {% if issue.type == 'special' %}
                          <a href="{{ url_for('.issue_toc', url_seg=journal.url_segment,
                          url_seg_issue=issue.url_segment) }}" class="btn">
                            spe.{% if issue.spe_text -%}{{issue.spe_text}}{%- endif %}
                          </a>
                        {% elif issue.type == 'supplement' %}
                          <a href="{{ url_for('.issue_toc', url_seg=journal.url_segment,
                          url_seg_issue=issue.url_segment) }}" class="btn">
                            suppl.{% if issue.suppl_text and issue.suppl_text != '0' -%}{{issue.suppl_text}}{%- endif %}
                          </a>
                        {% else %}
                          {# Evitando o None na grade #}
                          {% if issue.number %}
                            <a href="{{ url_for('.issue_toc', url_seg=journal.url_segment,
                                      url_seg_issue=issue.url_segment) }}" class="btn">
                            {{ issue.number }}
                          {% endif %}
                          </a>
                        {% endif %}
                      {% endfor %}
                    </td>
                  </tr>
                {% endfor %}
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          {% trans %}Nenhum número encontrado para esse periódico{% endtrans %}
        {% endif%}
        <div class="col-md-12">
          <h2>{% trans %}Histórico deste periódico na coleção{% endtrans %}</h2>
          <ul>
            {% for event in journal.timeline %}
              {% if event.status == 'current'%}
                <li>Em {{ event.since|dateformat('Y') }} {% trans %} admitido na coleção da SciELO{% endtrans %}.</li>
              {% elif event.status == 'rejected' %}
                <li>Em {{ event.since|dateformat('Y') }} rejeitado na coleção da SciELO (motivo: {{ event.reason }}).</li>
              {% elif event.status == 'suspended' %}
                <li>Em {{ event.since|dateformat('Y') }} suspenso da coleção da SciELO (motivo: {{ event.reason }}).</li>
              {% elif event.status == 'deceased' %}
                <li>Em {{ event.since|dateformat('Y') }} descontinuado da coleção da SciELO (motivo: {{ event.reason }}).</li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </section>

  {% include "journal/includes/contact_footer.html" %}

  {% with page='grid' %}
    {% include "issue/includes/alternative_header.html" %}
  {% endwith %}

{% endblock %}
