{% extends "issue/base.html" %}

{% block title %}{{ issue_legend|default('--', True) }}{% endblock %}

{% block main_content %}

  <section class="journalContent">
      <div class="container">
          <div class="col-md-4 col-md-offset-8 share">
              <a href="javascript:window.print();" class="sharePrint showTooltip" data-placement="top" title="{% trans %}Imprimir{% endtrans %}"><span class="glyphBtn print"></span></a>
              <a href="{{ url_for('main.issue_feed', url_seg=journal.url_segment, url_seg_issue=issue.url_segment)}}" class="showTooltip" data-placement="top" title="Atom" target="_blank"><span class="glyphBtn rssMini"></span></a>
              <span class="divisor"></span>
              {% trans %}Compartilhe{% endtrans %}
              <a href="" class="share_modal_id showTooltip" data-placement="top" title="{% trans %}Enviar link por e-mail{% endtrans %}"><span class="glyphBtn sendMail"></span></a>
              <a href="" class="shareFacebook showTooltip" data-placement="top" title="{% trans %}Compartilhar no Facebook{% endtrans %}"><span class="glyphBtn facebook"></span></a>
              <a href="" class="shareTwitter showTooltip" data-placement="top" title="{% trans %}Compartilhar no Twitter{% endtrans %}"><span class="glyphBtn twitter"></span></a>
              <a href="" class="showTooltip dropdown-toggle" data-toggle="dropdown" data-placement="top" title="{% trans %}Outras redes sociais{% endtrans %}"><span class="glyphBtn otherNetworks"></span></a>
              <ul class="dropdown-menu">
                  <li class="dropdown-header">{% trans %}Outras redes sociais{% endtrans %}</li>
                  <li><a href="" class="shareGooglePlus"><span class="glyphBtn googlePlus"></span> Google+</a></li>
                  <li><a href="" class="shareLinkedIn"><span class="glyphBtn linkedIn"></span> LinkedIn</a></li>
                  <li><a href="" class="shareReddit"><span class="glyphBtn reddit"></span> Reddit</a></li>
                  <li><a href="" class="shareStambleUpon"><span class="glyphBtn stambleUpon"></span> StambleUpon</a></li>
                  <li><a href="" class="shareCiteULike"><span class="glyphBtn citeULike"></span> CiteULike</a></li>
                  <li><a href="" class="shareMendeley"><span class="glyphBtn mendeley"></span> Mendeley</a></li>
              </ul>
          </div>

          {# Por hora iremos garantir que a interface não fique com conteúdo fixo #}
          {% if issue.editorial_board %}
            <div class="col-md-3 col-sm-4 issueData" id="issueData">
              <div class="issueInfo">
                {% if issue.cover_url %}
                  <div class="cover">
                      <img src="{{ issue.cover_url }}" class="image" alt="Capa: Vol. {{ issue.volume }} No. {{ issue.number }}" />
                  </div>
                {% endif %}
                <div class="editor">
                  <ul>
                    <li>
                      <label>{% trans %}Editor científico{% endtrans %}</label>
                      <strong>Hein van der Voort</strong>
                    </li>
                    <li>
                      <label>{% trans %}Editores associados{% endtrans %}</label>
                      <strong>Ana Vilacy Galúcio</strong>
                      <strong>Claudia Leonor López Garcés</strong>
                      <strong>Glenn Shepard Junior</strong>
                      <strong>Priscila Faulhaber Barbosa</strong>
                    </li>
                    <li>
                      <a href="secundaria.html"><span class="glyphBtn editorInfo"></span> {% trans %}Veja toda a equipe editorial{% endtrans %}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          {% endif %}

          {# Por hora iremos garantir que a interface não fique com conteúdo fixo #}
          <div class="{% if issue.editorial_board %}col-md-8 col-sm-8{% else %}col-md-12 col-sm-12{% endif %} content issueIndex" id="issueIndex">
              {% if issue.editorial_board %}
                <a href="" class="expandCollapseContent showTooltip" title="{% trans %}Expandir/recolher conteúdo{% endtrans %}"><span class="glyphBtn opened"></span></a>
              {% endif %}
              <div class="block summary collapseContent">
                <div class="row">
                  <div class="col-sm-12 col-md-12">

                    <div class="row row-filtro-ordena">
                      <div class="col-md-6 col-sm-6">
                        <a href="javascript:;" class="collapse-title">
                          <h1>{% trans %}Sumário{% endtrans %}</h1>
                        </a>
                      </div>

                      {% if issue.type == 'volume_issue' %}
                        <div class="col-sm-6 col-md-6">
                          <div class="box-filtro pull-right">
                            {% trans %}Ordenar publicações por{% endtrans %}
                            <div class="selectBox inline">
                              <select name="sortBy" id="sortBy">
                                <option value="0" selected="selected">{% trans %}Ordem do fascículo{% endtrans %}</option>
                                <option value="YEAR_ASC">{% trans %}Mais novos primeiro{% endtrans %}</option>
                                <option value="YEAR_DESC">{% trans %}Mais antigos primeiro{% endtrans %}</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      {% endif %}

                    </div>

                    <div class="collapse-content issueIndent">
                    <strong>{{ issue_legend|default('--', True) }}</strong>
                    <!-- Cabeçalho do Issue Toc -->
                    <ul>

                      {% if sections %}
                        <li>
                          <a href="{{ url_for('.issue_toc', url_seg=issue.journal.url_segment, url_seg_issue=issue.url_segment) }}">
                            {% if section_filter|length == 0 %}
                              {% trans %}Todas as seções{% endtrans %} <span style="color: #6789d3;">&laquo;</span>
                            {% else %}
                              {% trans %}Todas as seções{% endtrans %}
                            {% endif %}
                          </a>
                        </li>
                      {% endif %}

                      {% for section in sections %}
                        {% if section %}
                          <li>
                            <a href="{{ url_for('.issue_toc', url_seg=issue.journal.url_segment, url_seg_issue=issue.url_segment) }}?section={{ section|upper }}">
                              {% if section_filter|upper == section|upper %}
                                {{ section }} <span style="color: #6789d3;">&laquo;</span>
                              {% else %}
                                {{ section }}
                              {% endif %}
                            </a>
                          </li>
                        {% endif %}
                      {% endfor %}

                    </ul>
                    <!-- Cabeçalho do Issue Toc -->
                  </div>
                </div>
              </div>

              <div class="issueIndent">
                <!-- Corpo com artigos -->
                <ul class="articles">
                  {% for article in articles %}

                    {# Item comentado se caso precisarmos reverter
                     {% if article.section %}
                      <a name="{{ article.section|upper }}"></a>
                      <h1>
                        <a href="{{ url_for('.issue_toc', url_seg=article.journal.url_segment, url_seg_issue=issue.url_segment) }}?section={{ article.section|upper }}">
                          {{ article.section }}
                        </a>
                      </h1>
                    {% endif %}
                    #}

                      <li data-date="{% if article.publication_date %}{{ article.publication_date.replace('-', "") }}{% endif %}">

                        {% if session.lang %}
                          <h2>{{ article.get_title_by_lang(session.lang[:2])|default(_('Documento sem título'), true)|striptags }} <span class="badge">{{ article.section|default("", true) }}</span></h2>
                          <!-- publication_date: {{article.publication_date}} -->
                          <!-- PID: {{article.pid}} -->
                        {% endif %}

                        {%- for author in article.authors %}
                          {% if session.lang %}
                            <a href="{{config['URL_SEARCH']}}?lang={{session.lang[:2]}}&q=au:{{ author }}">
                              {{- author|striptags -}}
                            </a>{% if not loop.last %};{% endif %}
                          {% else %}
                            <a href="{{config['URL_SEARCH']}}?q=au:{{ author }}">
                              {{- author|striptags -}}
                            </a>{% if not loop.last %};{% endif %}
                          {% endif %}
                        {% endfor -%}

                        <ul class="links">
                            {% if article.abstract_languages|length > 0 %}
                            <li>
                              {% trans %}Resumo{% endtrans %}:
                              {% for lang in article.abstract_languages|sort %}
                                <a class="collapseAbstractBlock" href="#" data-id="{{article.id}}_{{lang}}" data-toggle="tooltip" data-placement="bottom" title="{{lang|trans_alpha2}}">
                                  {{ lang }}
                                </a>
                              {% endfor %}
                            </li>
                            {% endif %}

                            {% if article.article_text_languages|length > 0 %}
                            <li>
                              {% trans %}Texto{% endtrans %}:
                              {% for lang in article.article_text_languages|sort %}
                                <a href="{{ url_for('.article_detail', url_seg=journal.url_segment, url_seg_issue=issue.url_segment, url_seg_article=article.url_segment, lang_code=lang) }}" data-toggle="tooltip" data-placement="bottom" title="{{lang|trans_alpha2}}">
                                  {{ lang }}
                                </a>
                              {% endfor %}
                            </li>
                            {% endif %}

                            {% if article.article_pdf_languages|length > 0 %}
                            <li>
                              {% trans %}PDF{% endtrans %}:
                              {% for lang in article.languages %}
                                {% for pdf_lang, url in article.article_pdf_languages %}
                                  {% if lang == pdf_lang %}
                                    <a target='_blank' href="{{ url_for('.article_detail_pdf', url_seg=journal.url_segment, url_seg_issue=issue.url_segment, url_seg_article=article.url_segment, lang_code=lang) }}" data-toggle="tooltip" data-placement="bottom" title="{{lang|trans_alpha2}}">
                                        {{ lang }}
                                    </a>
                                  {% endif %}
                                {% endfor %}
                              {% endfor %}
                            </li>
                            {% endif %}

                            {% if config['READCUBE_ENABLED'] and article.doi and article.pid %}
                            <li>
                              {% trans %}ePDF{% endtrans %}:
                              {% for lang in article.languages %}
                                {% for pdf_lang, url in article.article_pdf_languages %}
                                  {% if lang == pdf_lang %}
                                    <a href="{{ url_for('.article_epdf', doi=article.doi, pid=article.pid, pdf_path=url, lang=lang) }}" data-toggle="tooltip" data-placement="bottom" title="{{lang|trans_alpha2}}">
                                        {{ lang }}
                                      </a>
                                  {% endif %}
                                {% endfor %}
                              {% endfor %}
                            </li>
                            {% endif %}

                              {#{% if lang in article.article_text_languages and lang in article.abstract_languages %}
                              |
                              {% endif %}#}
                        </ul>

                        {# Adicionar divs com os resumos #}
                        {% for lang in article.abstract_languages|sort|reverse %}
                          <div class="collapseAbstractContent" id="{{article.id}}_{{lang}}" data-toggle="tooltip" data-placement="bottom" title="{{lang|trans_alpha2}}">
                            {% if article.get_abstract_by_lang(lang) %}
                              <p><strong>{% trans %}Resumo em{% endtrans %} {{ lang|trans_alpha2 }}:</strong></p>
                              {{ article.get_abstract_by_lang(lang) }}
                            {% endif %}
                          </div>
                        {% endfor %}

                      </li>

                  {% endfor %}

                </ul>
                <!-- Corpo com artigos -->
              </div>

          </div>
          <div class="clearfix"></div>
      </div>
  </section>

  {% include "journal/includes/contact_footer.html" %}

  {% with page='toc' %}
    {% include "issue/includes/alternative_header.html" %}
  {% endwith %}

{% endblock %}
