{% extends "issue/base.html" %}
{% import 'macros/articles.html' as marticles %}

{% block main_content %}

  <section class="journalContent">
      <div class="container">
          <div class="col-md-4 col-md-offset-8 share">
              <a href="javascript:window.print();" class="sharePrint showTooltip" data-placement="top" title="{% trans %}Imprimir{% endtrans %}"><span class="glyphBtn print"></span></a>
              <a href="{{ url_for('main.issue_feed', issue_id=issue.iid)}}" class="showTooltip" data-placement="top" title="Atom" target="_blank"><span class="glyphBtn rssMini"></span></a>
              <span class="divisor"></span>
              {% trans %}Compartilhe{% endtrans %}
              <a href="" class="sendViaMail showTooltip" data-placement="top" title="{% trans %}Enviar link por e-mail{% endtrans %}"><span class="glyphBtn sendMail"></span></a>
              <a href="" class="shareFacebook showTooltip" data-placement="top" title="{% trans %}Compartilhar no Facebook{% endtrans %}"><span class="glyphBtn facebook"></span></a>
              <a href="" class="shareTwitter showTooltip" data-placement="top" title="{% trans %}Compartilhar no Twitter{% endtrans %}"><span class="glyphBtn twitter"></span></a>
              <a href="" class="showTooltip dropdown-toggle" data-toggle="dropdown" data-placement="top" title="{% trans %}Outras redes sociais{% endtrans %}"><span class="glyphBtn otherNetworks"></span></a>
              <ul class="dropdown-menu">
                  <li class="dropdown-header">{% trans %}Outras redes sociais{% endtrans %}</li>
                  <li><a href="" class="shareGooglePlus"><span class="glyphBtn googlePlus"></span> Google+</a></li>
                  <li><a href="" class="shareLinkedIn"><span class="glyphBtn linkedIn"></span> LinkedIn</a></li>
                  <li><a href="" class="shareReddit"><span class="glyphBtn reddit"></span> Reddit</a></li>
                  <li><a href="" class="shareStambleUpon"><span class="glyphBtn stambleUpon"></span> StambleUpon</a></li>
                  <li><a href="" class="shareCiteULike"><span class="glyphBtn citeULike"></span> CiteULike</a></li>
                  <li><a href="" class="shareMendeley"><span class="glyphBtn mendeley"></span> Mendeley</a></li>
              </ul>
          </div>

          <div class="col-md-3 col-sm-4 issueData" id="issueData">
            <div class="issueInfo">
              {% if issue.cover_url %}
                <div class="cover">
                    <img src="{{ issue.cover_url }}" class="image" alt="Capa: Vol. {{ issue.volume }} No. {{ issue.number }}" />
                </div>
              {% endif %}
              <div class="editor">
                <ul>
                  <li>
                    <label>{% trans %}Editor científico{% endtrans %}</label>
                    <strong>Hein van der Voort</strong>
                  </li>
                  <li>
                    <label>{% trans %}Editores associados{% endtrans %}</label>
                    <strong>Ana Vilacy Galúcio</strong>
                    <strong>Claudia Leonor López Garcés</strong>
                    <strong>Glenn Shepard Junior</strong>
                    <strong>Priscila Faulhaber Barbosa</strong>
                  </li>
                  <li>
                    <a href="secundaria.html"><span class="glyphBtn editorInfo"></span> {% trans %}Veja toda a equipe editorial{% endtrans %}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-9 col-sm-8 content issueIndex" id="issueIndex">
              <a href="" class="expandCollapseContent showTooltip" title="{% trans %}Expandir/recolher conteúdo{% endtrans %}"><span class="glyphBtn opened"></span></a>
              <div class="block summary collapseContent">
                  <a href="javascript:;" class="collapse-title"><h1>{% trans %}Sumário{% endtrans %}</h1></a>
                  <div class="collapse-content issueIndent">
                    <strong>{{ journal.legend_last_issue }}</strong>
                    <ul>
                      {% for section in sections %}
                        {% if loop.first %}
                          <li>
                            <a href="{{ url_for('.issue_toc', issue_id=issue.iid) }}">
                              {% if section_filter|length == 0 %}
                                {% trans %}Todas as seções{% endtrans %} <span style="color: #6789d3;">&laquo;</span>
                              {% else %}
                                {% trans %}Todas as seções{% endtrans %}
                              {% endif %}
                            </a>
                          </li>
                        {% endif %}
                        {% if section %}
                          <li>
                            <a href="{{ url_for('.issue_toc', issue_id=issue.iid) }}?section={{ section|upper }}">
                              {% if section_filter|upper == section|upper %}
                                {{ section }} <span style="color: #6789d3;">&laquo;</span>
                              {% else %}
                                {{ section }}
                              {% endif %}
                            </a>
                          </li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  </div>
              </div>

              {% for article in articles %}

                {% if article.section %}
                  <a name="{{ article.section|upper }}"></a>
                  <h1>
                    <a href="{{ url_for('.issue_toc', issue_id=issue.iid) }}?section={{ article.section|upper }}">
                      {{ article.section }}
                    </a>
                  </h1>
                {% endif %}

                <div>
                  {% if session.lang %}
                    <h2>{{ article.get_title_by_lang(session.lang[:2])|striptags|title }}</h2>
                  {% endif %}

                  {% for author in article.authors %}
                    {# TODO: revisar o parametro: lang=en na querystring, deveria ser o lang da session. #}
                    <a href="/search?content_only=true&lang=en&q=au:{{ author }}">
                      {{ author|striptags|title }}
                    </a>{% if not loop.last %};{% endif %}
                  {% endfor %}

                  <ul class="links">

                    {% for lang in article.languages %}
                      <li>

                        {{ lang }}:

                        {% if lang in article.abstract_languages %}
                          <a href="{{ url_for('.article_detail', article_id=article.aid, lang_code=article.original_language) }}?abstract_lang={{lang}}">{% trans %}Resumo{% endtrans %} |
                        {% endif %}

                        <a href="{{ url_for('.article_detail', article_id=article.aid, lang_code=lang) }}">{% trans %}Texto{% endtrans %}</a>

                        {% with pdf_url = marticles.get_pdf_url_by_lang(article, lang|default(article.original_language)) %}
                          {% if pdf_url %}
                            | <a href="{{ pdf_url }}" target="_blank">PDF</a>
                          {% endif %}
                        {% endwith %}

                        {# | <a href="#">Press-release</a> #}
                      </li>

                    {% endfor %}

                  </ul>

                </div>
              {% endfor %}
          </div>
          <div class="clearfix"></div>
      </div>
  </section>

  {% include "journal/includes/contact_footer.html" %}

{% endblock %}
