# ignore sqlite, db, etc

*.sqlite
*.db

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Bundle CSS and JS
bundle.js
bundle.css
.webassets-cache

# S.O
.DS_Store

# Flask config
instance/config.py
instance/local_config_testing.py

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
# *.pot # versionado para integarção com transifex

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# media images
opac/webapp/media/files/*.*
opac/webapp/media/images/*.*
.idea