version: '2'

services:
    redis-cache:
        image: scieloorg/redis
        user: redis
        restart: always
        volumes:
          - ./data/redis-cache-data-dev:/data

    mailhog:
        image: mailhog/mailhog:latest
        hostname: mailhog
        ports:
            - "8025:8025"

    opac_mongo:
        image: mongo:latest
        restart: always
        user: mongodb
        hostname: opac-mongo
        ports:
            - "27017:27017"

    opac_webapp:
        build:
            context: .
            dockerfile: ./Dockerfile-dev
            args:
                - OPAC_BUILD_DATE=${OPAC_BUILD_DATE}            # export OPAC_BUILD_DATE=`date -u +"%Y-%m-%dT%H:%M:%SZ"`
                - OPAC_VCS_REF=${OPAC_VCS_REF}                  # export OPAC_VCS_REF=`git rev-parse --short HEAD`
                - OPAC_WEBAPP_VERSION=${OPAC_WEBAPP_VERSION}    # export OPAC_WEBAPP_VERSION="v0.1.0-dev"
        command: gunicorn --workers 3 --bind 0.0.0.0:8000 manager:app --chdir=/app/opac --reload --timeout 1000 --log-level DEBUG
        user: nobody
        restart: always
        hostname: opac_webapp
        depends_on:
            - opac_mongo
            - mailhog
            - redis-cache
        volumes:
            - .:/app
        links:
            - opac_mongo:opac-mongo
            - mailhog:mailhog
            - redis-cache:redis-cache
        ports:
            - "8000:8000"
        environment:
            - OPAC_DEBUG_MODE=True
            - OPAC_MONGODB_NAME=opac
            - OPAC_MONGODB_HOST=opac_mongo
            - OPAC_MONGODB_PORT=27017
            - OPAC_DATABASE_DIR=/app/data
            - OPAC_MAIL_SERVER=mailhog
            - OPAC_MAIL_PORT=1025
            - OPAC_SECRET_KEY=s3kr3tk3y
            - OPAC_SSM_SCHEME=http
            - OPAC_SSM_DOMAIN=172.19.0.1
            - OPAC_SSM_PORT=8001
            - OPAC_CACHE_ENABLED=True
            - OPAC_CACHE_DEFAULT_TIMEOUT=3600
            - OPAC_CACHE_REDIS_HOST=redis-cache
            - OPAC_USE_METRICS=True
            - OPAC_METRICS_URL=http://analytics.scielo.org
            - OPAC_USE_DIMENSIONS=True
            - OPAC_USE_PLUMX=True
            - OPAC_PLUMX_METRICS_URL=https://plu.mx/scielo/a
        stdin_open: True
        tty: true
