recursive-include opac/webapp/templates *
recursive-include opac/webapp/static *
recursive-include opac/webapp/translation *
recursive-include opac/webapp/config *.ini *.template
include *.rst *.txt Makefile LICENSE
