Flask==0.12.2
mongoengine==0.13.0
flask-mongoengine==0.9.3
Flask-Assets==0.12
jsmin==2.2.2
cssmin==0.2.0
webassets==0.12.1
Flask-Admin==1.5.0
Flask-SQLAlchemy==2.2
SQLAlchemy-Utils==0.32.14
Flask-Security==3.0.0
Flask-Login==0.4.0
Flask-Script==2.0.5
Flask-Mail==0.9.1
Pillow==4.2.1
Flask-BabelEx==0.9.3
Flask-Migrate==2.1.0
unicodecsv==0.14.1
feedparser==5.2.1
legendarium==2.0.2
-e git+https://git@github.com/scieloorg/opac_schema@v2.36#egg=opac_schema
Flask-HTMLmin==1.2.1
python-slugify==1.2.4
requests==2.18.2
gunicorn==19.7.1
xlsxwriter==0.9.8
tweepy==3.5.0
raven[flask]==6.1.0
beautifulsoup4==4.6.0
Flask-WTF==0.14.2
