{% extends 'admin/model/list.html' %}

{% block list_row_actions_header %}
    <th class="col-md-1">
        {% if config['RSS_PRESS_RELEASES_FEEDS'].keys() %}
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {% trans %}Press Releases{% endtrans %}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li>
                    <a id="import_all_press_releases" href="{{ url_for('.import_all_press_releases') }}">
                        {% trans %}Importar tudo {% endtrans %}
                    </a>
                </li>

                <li>
                    <a id="import_all_press_releases_posts_by_category" href="{{ url_for('.import_all_press_releases_posts_by_category') }}">
                        {% trans %}Importar por Acrônimo {% endtrans %}
                    </a>
                </li>
              </ul>
            </div>
        {% endif %}
    </th>
{% endblock %}

{% block tail %}
    {{ super() }}
    <script language="javascript">
        (function($) {
            /* importar todos os feeds */
            $('a#import_all_press_releases, a#import_all_press_releases_posts_by_category').click(function (e) {
                e.preventDefault();
                var target_url = $(this).attr('href');
                var confirm_msg = "{% trans %}Tem certeza que deseja importar todos os feeds de todas as fontes?{% endtrans %}";

                if(confirm(confirm_msg)) {
                    window.location.href = target_url;
                }
            });
        })(jQuery);
    </script>
{% endblock %}
