{{ form.hidden_tag() if form.hidden_tag }}
{% for f in form if f.type != 'CSRFTokenField' %}
  <div class="form-group {% if f.errors %} has-error {% endif %}">
    <label for="{{ f.id }}" class="col-md-2 control-label">{{ f.label }}</label>
    <div class="col-md-10">
      {{ f(class="form-control") }}
      {% if f.errors %}
        <ul>
          {% for e in f.errors %}
            <li>
              <span class="help-block">{{ e }}</span>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
{% endfor %}
