{% extends 'admin/base.html' %}
{% block head_css %}
    <link href="{{ admin_static.url(filename='bootstrap/bootstrap3/css/bootstrap.min.css', v='3.3.5') }}" rel="stylesheet">
    <link href="{{ admin_static.url(filename='admin/css/bootstrap3/admin.css', v='1.1.1') }}" rel="stylesheet">
    <style>
      body {
        padding-top: 4px;
      }
    </style>
{% endblock %}
{% block brand %}
  <a class="navbar-brand" href="{{url_for('admin.index')}}">{{ admin_view.admin.name }}</a>
{% endblock %}
{% block access_control %}
  <ul class="nav navbar-nav navbar-right">
    {% if current_user.is_authenticated %}
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          {{ current_user.email }} <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="{{ url_for('admin.reset') }}">{% trans %}Recuperar a senha{% endtrans %}</a></li>
          <li><a href="{{ url_for('admin.logout_view') }}">{% trans %}Terminar sessão{% endtrans %}</a></li>
        </ul>
      </li>
    {% else %}
      <li><a href="{{ url_for('admin.login_view') }}">{% trans %}Iniciar sessão{% endtrans %}</a></li>
    {% endif %}
  </ul>
{% endblock %}

{% block tail %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <hr>
        <p class="text-center text-capitalize">
          <small>
            {% for k,v in config.LANGUAGES.iteritems() %}
              <a href="{{ url_for('main.set_locale', lang_code=k) }}">
                {% if k == session['lang'] %}
                  <strong>{{ v }}</strong>
                {% else %}
                  {{ v }}
                {% endif %}
              </a>
              {% if not loop.last %}|{% endif %}
            {% endfor %}
          </small>
        </p>
        <hr>
      </div>
    </div>
  </div>
{% endblock %}
