{% extends 'admin/base.html' %}
{% block brand %}
  <a class="navbar-brand" href="{{url_for('admin.index')}}">{{ admin_view.admin.name }}</a>
{% endblock %}
{% block access_control %}
  <ul class="nav navbar-nav navbar-right">
    {% if current_user.is_authenticated %}
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          {{ current_user.email }} <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="{{ url_for('admin.reset') }}">{% trans %}Recuperar a senha{% endtrans %}</a></li>
          <li><a href="{{ url_for('admin.logout_view') }}">{% trans %}Terminar sessão{% endtrans %}</a></li>
        </ul>
      </li>
    {% else %}
      <li><a href="{{ url_for('admin.login_view') }}">{% trans %}Iniciar sessão{% endtrans %}</a></li>
    {% endif %}
  </ul>
{% endblock %}

{% block tail %}
  <div class="text-center"><a href="{{ url_for('main.index') }}" class="bigpopup">Visualizar Site</center>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <hr>
        <p class="text-center text-capitalize">
          <small>
            {% for k,v in config.LANGUAGES.items() %}
              <a href="{{ url_for('main.set_locale', lang_code=k) }}">
                {% if k == session['lang'] %}
                  <strong>{{ v }}</strong>
                {% else %}
                  {{ v }}
                {% endif %}
              </a>
              {% if not loop.last %}|{% endif %}
            {% endfor %}
          </small>
        </p>
        <hr>
      </div>
    </div>
  </div>
  {% if config.BUILD_DATE or config.VCS_REF or config.WEBAPP_VERSION %}
    <div class="container">
      <div class="text-center">
        <small>
          {% if config.BUILD_DATE %}{{config.BUILD_DATE}} | {% endif %}
          {% if config.VCS_REF %} {{config.VCS_REF}} | {% endif %}
          {% if config.WEBAPP_VERSION %} {{ config.WEBAPP_VERSION }}{% endif %}
        </small>
      </div>
    </div>
  {% endif %}
  <script src="{{ url_for('static', filename='js/jquery.popupwindows.js') }}"> </script>
  <script src="{{ url_for('static', filename='js/admin/common.js') }}"> </script>

{% endblock %}
