<form name="sendViaEmail" id="sendViaEmail" action="{{ url_for('main.email_share_ajax') }}" method="post" class="validate">
  {{ g.email_share.csrf_token() }}
  {{ g.email_share.share_url(value=request.url) }}
  <div class="modal-body">
    <div class="form-group">
      <label class="control-label">{% trans %}Seu e-mail{% endtrans %}*</label>
        {{ g.email_share.your_email(class="form-control valid") }}
        <label class="control-label" id="{{g.email_share.your_email.name}}_error"></label>
    </div>
    <div class="form-group">
      <label class="control-label">{% trans %}Para{% endtrans %}*</label>
      {{ g.email_share.recipients(class="form-control valid multipleMail") }}
      <label class="control-label" id="{{g.email_share.recipients.name}}_error"></label>
      <span class="text-muted">
        {% trans %}Utilize ; (ponto e vírgula) para inserir mais emails.{% endtrans %}
      </span>
    </div>
    <div class="form-group extendForm">
      <a href="javascript:;" class="showBlock" id="showBlock" data-rel="#extraFields" data-hide="#showBlock">
        {% trans %}Alterar assunto e comentários{% endtrans %}
      </a>

      <div id="extraFields" style="display: none;">
        <div class="form-group">
          <label>{% trans %}Assunto{% endtrans %}</label>
          {{ g.email_share.subject(class="form-control valid") }}
        </div>
        <div class="form-group">
          <label>{% trans %}Comentário{% endtrans %}</label>
          {{ g.email_share.comment(class="form-control") }}
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <input type="submit" name="s" value="Enviar" class="btn">
  </div>
</form>