{% extends "article/base.html" %}
{% import 'macros/articles.html' as marticles %}

{% block main_content %}

  <section class="articleCtt">
      <div class="container">
          <div class="row">
              <div class="col-md-12 col-sm-12 articleBlock">
                <!-- article -->
                <iframe scrolling="no" width="100%" height="1000px" frameborder="0"
                        src="{{ marticles.get_pdf_url_by_lang(article, article_lang|default(article.original_language)) }}"></iframe>
                <!-- article -->
              </div>
          </div>
      </div>
  </section>

  {% include "journal/includes/contact_footer.html" %}

{% endblock %}
