{% extends "base.html" %}

{% block ie7_extra_namespaces %}xmlns:mml="http://www.w3.org/1998/Math/MathML"{% endblock ie7_extra_namespaces %}
{% block ie8_extra_namespaces %}xmlns:mml="http://www.w3.org/1998/Math/MathML"{% endblock ie8_extra_namespaces %}
{% block ie9_extra_namespaces %}xmlns:mml="http://www.w3.org/1998/Math/MathML"{% endblock ie9_extra_namespaces %}
{% block extra_namespaces %}xmlns:mml="http://www.w3.org/1998/Math/MathML"{% endblock extra_namespaces %}

{% block body_class %}journal article{% endblock %}

{% block title %}{{ super() }} - {{ article.title }}{% endblock %}

{% block extra_meta %}
{% include "article/includes/meta.html" %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/scielo-article.css') }}" type="text/css" async />
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" async />
<link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" async />
{% endblock %}

{% block content %}

{% include "article/includes/header.html" %}

{% include "article/includes/alternative_header.html" %}

{% block main_content %}{% endblock %}

{% include "article/includes/modal/download.html" %}

{% include "article/includes/modal/related_article.html" %}

{% include "article/includes/modal/translate_version.html" %}

{% include "article/includes/modal/how_cite.html" %}

{% include "includes/footer.html" %}

{% include "includes/metric_modal.html" %}

{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/scielo-article-min.js') }}"></script>

{% if config.USE_PLUMX %}
<script type="text/javascript" src="{{ config.PLUMX_METRICS_JS }}"></script>
{% endif %}

{% if config.USE_ALTMETRIC %}
<script type="text/javascript" src="https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js"></script>
{% endif %}

{% if config.USE_SCIENCEOPEN %}
<script id="9cf9cf8f-3a99-fe86-4013-f630edbf80ac" src="https://www.scienceopen.com/script/badge2.js" async
  defer></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/scienceopen.js') }}"></script>
{% endif %}

{% if config.USE_SCITE %}
<script async type="application/javascript" src="{{ config.SCITE_URL}}"></script>
{% endif %}

{% if config.MATHJAX_CDN_URL %}
<script sync src="{{ config.MATHJAX_CDN_URL }}" charset="utf-8"></script>

<!-- <script>
      var insertScript = function(url, callback, parentNode) {
        var scriptNode = document.createElement("script");
        scriptNode.src = url;
        scriptNode.onload = callback;
        parentNode.appendChild(scriptNode)
      }
      var headNode = document.getElementsByTagName("head")[0];
      setTimeout(MathJax.Callback([insertScript, "//badge.dimensions.ai/badge.js", console.log, headNode]), 1500);
    </script>
    -->

{% endif %}

<script type="text/javascript" src="//badge.dimensions.ai/badge.js" charset="utf-8" async></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<!-- xxx Verifica se o artigo contém artigos relacionados -->
{% if article.related_articles %}
<script>
  if (document.querySelectorAll(".article-correction-title").length == 1) {
    // length == 1: related-panel do site
    // length == 2: related-panel do site + do packtools
    $('.articleBadge-editionMeta-doi-copyLink').append($('.related-panel').html())
  }
</script>
{% endif %}

<!-- Verifica se o artigo contém suplemento -->
{% if article.mat_suppl %}
<script type="text/javascript">
  {% for suppl in article.mat_suppl %}
  elem = document.querySelector("a[href='{{ suppl.url }}']").getElementsByClassName("REPLACE_BY_SUPPLEMENTARY_MATERIAL_TEXT");
  if (elem) elem[0].parentElement.innerHTML = "{{ suppl.filename }}";
  {% endfor %}
</script>
{% endif %}

<script>

  //Change the bootstrap gobally behavior to select2 work with modal, more about see: https://select2.org/troubleshooting/common-problems
  $.fn.modal.Constructor.prototype.enforceFocus = function () { };

  affiliations = {};

  function add_scimago_image(selector, remove_br=true, add_br_after=true, find_div=false){
    
    $(selector).each(

    function () {

      if (remove_br){
        $(this).find("br").remove()
      }
      
      internal_items = find_div ? $(this).find('div').not(".clearfix") : $(this).not(".clearfix")

      internal_items.each(function () { 
        self = $(this);

        affiliation_name = $('span:nth-child(2)', self).text();
        if (affiliation_name){
            scimago_link = ' <a href="#" target="_blank" class="scimago_link" data-affiliation="' + affiliation_name + '" ><img src="/static/img/scimago.svg" alt="{% trans %} SCImago image{% endtrans %}" height="12" data-toggle="tooltip" data-placement="top" title="{% trans %}Link to SCImago Institutions Rankings{% endtrans %}"></a>';
            self.append(scimago_link);
        }
      });

      if (add_br_after){
        $(this).after("<br />")
      }

    });

  }

  add_scimago_image('#ModalScimago .info div')
  add_scimago_image('.tutors', remove_br=false, add_br_after=false, find_div=true) 

  $(".scimago_link").click(function(e){
    e.preventDefault();

    affiliation_name = $(this).data("affiliation");

    if (affiliation_name){
      if (affiliations[affiliation_name]) {
        window.open(affiliations[affiliation_name], '_blank');
      } else {
        $.ajax({
          type: "GET",
          async: false,
          url: "{{ url_for('main.scimago_ir') }}",
          data: 'q=' + encodeURI(affiliation_name),
          success: function (data) {
            if (data) {
              affiliations[affiliation_name] = '{{ config.SCIMAGO_URL_IR }}' + data
              window.open(affiliations[affiliation_name], '_blank');
            }else{
              toastr.options = {
                positionClass: 'toast-top-center'
              };
              toastr.error('{% trans %}Link temporariamente indisponível{% endtrans%}');
            }
          }
        });
      }
    }    
  });


  var howcite_initialized = false;

  $('#ModalHowcite').on('shown.bs.modal', function () {

    if (!howcite_initialized) {
      initial = {
        "American Psychological Association": "apa", "Vancouver": "vancouver"
      }

      $.each(initial, function (key, value) {
        $.ajax({
          url: "{{ url_for('main.article_cite_csl', article_id=article.id) }}?style=" + value,
          dataType: 'html',
          delay: 250,
          async: true
        })
          .done(function (html) {
            $("<span><b>" + key + "</b></span>" + "<pre>" + html + "</pre>").insertBefore($("#select_label"));
          })
      });
      howcite_initialized = true;
    }

    $(".js-data-example-ajax").select2({
      ajax: {
        url: "{{ url_for('main.article_cite_csl_list') }}",
        dataType: 'json',
        delay: 250,
        data: function (params) {
          return {
            q: params.term, // search term
          };
        },
        processResults: function (data, params) {
          return {
            results: data.results
          };
        },
        cache: true
      },
      escapeMarkup: function (markup) { return markup; },
      minimumInputLength: 1,
    });

    $(document).on('select2:open', () => {
      document.querySelector('.select2-search__field').focus();
    });

    $(".js-data-example-ajax").on('select2:select', function (e) {
      var data = e.params.data;

      $.ajax({
        url: "{{ url_for('main.article_cite_csl', article_id=article.id) }}?style=" + data.id,
        dataType: 'html',
        delay: 250
      })
        .done(function (html) {

          if ($('#citation_text').css('display') == 'none') {
            $('#citation_text').show()
          }

          $("#citation_text").html(html);

        })
        .fail(function () {
          alert("Erro ao tentar obter esse estilo de citação");
        })

    });
  });

</script>


{% endblock %}
