{% extends "base.html" %}

{% block ie7_extra_namespaces %}xmlns:mml="http://www.w3.org/1998/Math/MathML"{% endblock ie7_extra_namespaces %}
{% block ie8_extra_namespaces %}xmlns:mml="http://www.w3.org/1998/Math/MathML"{% endblock ie8_extra_namespaces %}
{% block ie9_extra_namespaces %}xmlns:mml="http://www.w3.org/1998/Math/MathML"{% endblock ie9_extra_namespaces %}
{% block extra_namespaces %}xmlns:mml="http://www.w3.org/1998/Math/MathML"{% endblock extra_namespaces %}

{% block body_class %}journal article{% endblock %}

{% block title %}{{ super() }} - {{ article.title }}{% endblock %}

{% block extra_meta %}
  {% include "article/includes/meta.html" %}
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/scielo-article.css') }}" type="text/css" async/>
  {% if config.MATHJAX_CDN_URL %}
    {# recomendação da doc do mathjax: "(It can also go in the <body> if necessary, but the head is to be preferred.)" #}
    <script type="text/javascript" async src="{{ config.MATHJAX_CDN_URL }}"></script>
  {% endif %}
{% endblock %}

{% block content %}

  {% include "article/includes/header.html" %}

  {% include "article/includes/alternative_header.html" %}

  {% block main_content %}{% endblock %}

  {% include "article/includes/modal/download.html" %}

  {% include "article/includes/modal/related_article.html" %}

  {% include "article/includes/modal/translate_version.html" %}

  {% include "includes/footer.html" %}

  {% include "includes/metric_modal.html" %}

{% endblock %}

{% block extra_js %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/scielo-article-min.js') }}"></script>
  <script type="text/javascript" src="//badge.dimensions.ai/badge.js" charset="utf-8" async></script>
  <script type="text/javascript" src="//cdn.plu.mx/widget-popup.js"></script>

  {% if config.USE_ALTMETRIC %}
    <script type="text/javascript" src="https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js"></script>
  {% endif %}

  {% if config.USE_SCIENCEOPEN %}
    <script id="9cf9cf8f-3a99-fe86-4013-f630edbf80ac" src="https://www.scienceopen.com/script/badge2.js" async defer></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/scienceopen.js') }}"></script>
  {% endif %}

{% endblock %}
