{% extends "article/base.html" %}

{% block title %} {{ super() }} {{ article.title }} {% endblock %}

{% block main_content %}

    {% include "article/includes/levelMenu.html" %}

    <!-- PID: {{article.pid}} -->
      <!-- Verificando se é versão HTML ou XML -->
      {% if html %}
        {% if not article.xml %}
          <section class="articleCtt">
            <div class="container">
                {{ html|safe }}
            </div>
          </section>
        {% elif not article.display_full_text %}
          {% include "article/includes/_dont_display_full_text.html" %}
        {% else %}
          {{ html|safe }}
        {% endif %}
      {% endif %}
      {% include "article/includes/floating_menu.html" %}

      {% include "journal/includes/contact_footer.html" %}


{% endblock %}