{% extends "article/base.html" %}

{% block main_content %}

  <section class="articleCtt">
      <div class="container">
          <div class="row">
              <div class="col-md-12 col-sm-12 articleBlock">
              {% if html %}
                {{ html.source|safe }}
              {% else %}
                Este artigo contém somente o pdf
              {% endif %}
              </div>
          </div>
      </div>
  </section>
  {% include "journal/includes/contact_footer.html" %}

{% endblock %}
