{% extends "article/base.html" %}

{% block title %} {{ super() }} {{ article.title }} {% endblock %}

{% block main_content %}

    {% include "article/includes/levelMenu.html" %}

    <!-- PID: {{article.pid}} -->

    <section class="articleCtt">

      <div class="container">
      {% if html %}
        {{ html|safe }}
      {% endif %}
      </div>

      {% include "article/includes/floating_menu.html" %}

    </section>

  {% include "journal/includes/contact_footer.html" %}

{% endblock %}
