/* CSS file to add custom Style */

.journalPreviousTitle{
    font-weight: bold;
}

.journal .mainMenu .logo img {
  margin-bottom: 10px;
}

.collectionList .collectionListTable td.collapseContainer{
    padding: 0px 0;
}

.collection .collectionList{
    min-height: 500px;
}

.collectionList .collectionListLoading{
    margin-top: 50px;
}

.journal .journalContent .content h2{
    margin: 0px;
}

#SendViaEmailConfirm .message{
  padding: 15px;
  margin: 0 auto;
  text-align: center;
}

#SendViaEmailConfirm .email_error{
  color: red;
}

.journal .issueIndex .collapse-content {
    padding-bottom: 20px;
    margin-left: 19px;
}

.journal .journalContent .content ul {
    margin: 0;
    padding-left: 20px;
}
.collection .slide-item.release .col-md-12, .collection .slide-item.perspective .col-md-12, .collection .slide-item.twitter .col-md-12 {
    min-height: 95px;
}

.article .mainNav, .journal .mainNav {
    margin-top: 3px;
}

.header_drop_image{
    height: 50px;
}

.alternativeHeader .mainNav .menu {
    top: 14px;
}

.collection .datetime {
    color: #7f7a71;
    font-size: .8em;
    margin-top: 35px;
}

.journalContent .datetime {
    color: #7f7a71;
    font-size: .8em;
}

.journal .brandLogo .theme .area {
    color: #00314c;
}

.journal .brandLogo .issn .issnLabel {
    color: #00314c;
}

.journal img.issue-toc-readcube-logo {
    width: 14px;
}

// .collapseAbstract{
//     margin-bottom: 5px;
//     padding-top: 12px;
//     padding-left: 20px;
//     font-weight: 400;
//     background: url(../img/button.glyphs.png) -10px -2525px no-repeat;
// }

.collapseAbstractBlock{
    position:relative;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;

    &:before {
        content: '>';
        font-family: "courier new", monaco, monospace;
        display: inline-block;
    }

    &:focus {
        text-decoration: none;
    }

    &.opened {
        &:before {
            transform: rotate(90deg);
        }
    }
}

.collapseAbstractContent{
    display: none;
    text-align: justify;
    margin-top: -15px;
    margin-bottom: 30px;
    margin-left: 10px;
}

.modal .modal-dialog .modal-content .modal-metrics {
    margin: 0 auto;
    max-width: -moz-fit-content;
    max-width: -webkit-fit-content;
}

.modal .badge-link {
    position: relative;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.modal{
   .badge-link{
       #scienceopen{
           margin: 13px 0 0;
           display: block;

           a{
               div{
                   margin-top: 12px;
               }
           }
       }
   }
}


.modal .logo-statistc {
    width:100px;
}

.modal .logo-statistc .badge-logo {
    max-width: 100px;
    max-height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal{
    .badge-link{
        .logo-statistc-altmetric{
            top: 37%;
        }
    }
}

.modal .logo-statistc .badge-logo .plx-print {
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
}
