.add-article-collection {
}

.item-description {
    font-size: 12px;
    color: #888383;
}

.add-article-collection .item-action {
}

.item-action .item-action-button {
    padding: 2px 6px 0px 5px;
    font-size: 12px !important;
    color: #d43f3a !important;
    background-color: #fff;
}

.article-list {
    width: 340px;
}

    .article-list li {
        display: inline-block;
        border-bottom: 1px solid #e6e2e2;
        padding: 2px 0 2px 6px;
    }


.redirect-button {
    font-family: inherit;
    font-size: 12px;
    color: #fff;
}