/* CSS file to add custom Style */

.journalPreviousTitle{
    font-weight: bold;
}

.journal .mainMenu .logo img {
  margin-bottom: 10px;
}

.pressRelease .smallText-right{
    color: #7f7a71;
    text-align: right;
}

.pressRelease h1{
    margin-bottom: 0px;
}

.pressReleaseText{
    padding: 10px;
    text-align: justify;
    background: #fafaf8;
}

.pressRelease input{
    border: 0px;
    width: 80%;
    outline: none;
    color: #a7a49e;
}

.collectionList .collectionListTable table{
    width: 98%;
}

.collectionList .collectionListTable td.collapseContainer{
    padding: 0px 0;
}

.collection .collectionList{
    min-height: 500px;
}

.collectionList .collectionListLoading{
    margin-top: 50px;
}

.journal .journalContent .content h2{
    margin: 0px;
}

#SendViaEmailConfirm .message{
  padding: 15px;
  margin: 0 auto;
  text-align: center;
}

#SendViaEmailConfirm .email_error{
  color: red;
}
