{% extends "collection/base.html" %}
{% block level_menu %}
    {% include "collection/includes/levelMenu.html" %}
{% endblock %}
{% block main_content %}

<section class="collection collectionAbout">
    <div class="container">
        {% if page %}
            {% with page_updated_at=page.updated_at  %}
                {% include "includes/page_updated_at_info.html" %}
            {% endwith %}
        {% endif %}

        {% if pages %}

            <div class="about">
                <ul class="networkList">

                    {% for page in pages %}
                        <a href="?page_id={{ page.id}}">
                            <li>
                                {% trans %} {{ page }} {% endtrans %}
                            </li>
                        </a>
                    {% endfor %}

                </ul>
            </div>

        {% endif %}

        {% if page %}
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
                {%- if page.content -%}
                    {{ page.content|safe }}
                {%- else -%}
                    {% trans %} Conteúdo não cadastrado {% endtrans %}
                {%- endif -%}
            </div>
        {% endif %}

    </div>
</section>

{% endblock %}
