{% extends "collection/base.html" %}
{% import 'macros/collection.html' as coll_macro %}

{% block body_class %}collection{% endblock %}
{% block level_menu %}
    {% include "collection/includes/levelMenu_search.html" %}
{% endblock %}

{% block main_content %}
  <section class="collection">
    <div class="container">
      {% if g.collection.metrics %}
        <div class="row">
          <div class="col-md-12 col-sm-12 metrics">
            <div class="row">
              <div class="col-md-6">
                <h2>{{ coll_macro.get_collection_name() }} <span >{% trans %}em números | Métricas{% endtrans %}</span></h2>
              </div>
              <div class="col-md-6 right">
                <div class="datetime"><span id="date"></span></div>
              </div>
            </div>
            <div class="levelMenu">
              <div class="col-md-10 col-sm-10 numbers">
                <div class="col-md-3 col-sm-3">
                  {{ g.collection.metrics.total_journal }}
                  <span>{% trans %}períodicos{% endtrans %}</span>
                </div>
                <div class="col-md-3 col-sm-3">
                  {{ g.collection.metrics.total_issue }}
                  <span>{% trans %}números{% endtrans %}</span>
                </div>
                <div class="col-md-3 col-sm-3">
                  {{ g.collection.metrics.total_article }}
                  <span>{% trans %}artigos{% endtrans %}</span>
                </div>
                <div class="col-md-3 col-sm-3">
                  {{ g.collection.metrics.total_citation }}
                  <span>{% trans %}referências{% endtrans %}</span>
                </div>
              </div>
              <div class="col-md-2 col-sm-2">
                <ul>
                  <li>
                    <a href="{{ urls.downloads }}" target="_blank">{% trans %}Downloads{% endtrans %}</a>
                  </li>
                  <li>
                    <a href="{{ urls.references }}" target="_blank">{% trans %}Citações{% endtrans %}</a>
                  </li>
                  <li>
                    <a href="{{ urls.other }}" target="_blank">{% trans %}Outros indicadores{% endtrans %}</a>
                  </li>
                </ul>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      {% endif %}
      <div class="row">
        <div class="col-md-12 col-sm-12 periodicals">
          <h2>{% trans %}Lista de periódicos{% endtrans %}</h2>
          <div class="levelMenu">
            <ul>
              <li>
                <a href="{{ url_for('.collection_list') }}">{% trans %}Alfabética{% endtrans %}</a>
              </li>
              <li>
                <a href="{{ url_for('.collection_list') }}#theme">{% trans %}Temática{% endtrans %}</a>
              </li>
              <li class="periodicals-search">

                <!-- Form search periódicos -->
                <div class="typeahead__container">
                  <div class="typeahead__field">
                    <div class="typeahead__query">
                      <input placeholder="{% trans %}Busca por periódicos{% endtrans %}" type="search" class="form-control" autocomplete="off" name="tst" id="tst">
                    </div>
                  </div>
                </div>

              </li>
{#               <li>
                <a href="{{ url_for('.collection_list') }}#publisher">{% trans %}Por instituição{% endtrans %}</a>
              </li>
              <li>
                <a href="{{ url_for('.collection_list') }}#newIssue">{% trans %}Novos números{% endtrans %}</a>
              </li>
              <li>
                <a href="{{ url_for('.collection_list') }}#newJournals">{% trans %}Novos períodicos{% endtrans %}</a>
              </li>
              <li>
                <a href="{{ analytics.urls.other }}">{% trans %}Métricas{% endtrans %}</a>
              </li> #}
            </ul>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>

      {% if journals %}
        <div class="row">
          <div class="block last_issues">
            <div class="col-md-12">
              <h2><strong>{% trans %}Números <span>mais recentes</span>{% endtrans %}</strong></h2>
              <div class="slider" id="last_issues">
                <a href="javascript:;" class="slide-back"><span class="glyphBtn arrowLeft"></span></a>
                <a href="javascript:;" class="slide-next"><span class="glyphBtn arrowRight"></span></a>
                <div class="slide-container">
                  <div class="slide-wrapper">
                    {% for journal in journals %}
                        {% include "news/includes/issue_last_row.html" %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div> {# /row #}
      {% endif %}

      {% if press_releases %}
        <div class="row">
          <div class="block releases">
            <div class="col-md-12">
              <h2>SciELO <span>Press Releases</span></h2>
              <div class="slider" id="pressreleases">
                <a href="javascript:;" class="slide-back"><span class="glyphBtn arrowLeft"></span></a>
                <a href="javascript:;" class="slide-next"><span class="glyphBtn arrowRight"></span></a>
                <div class="slide-container">
                  <div class="slide-wrapper">
                    {% for press_release in press_releases %}
                      {% include "press_release/includes/press_releases_row.html" %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div> {# /row #}
      {% endif %}

      {% if news %}
        <div class="row">
          <div class="block perspective">
            <div class="col-md-12">
              <h2>SciELO <span>{% trans %}em perspectiva{% endtrans %}</span></h2>
              <div class="slider" id="perspective">
                <a href="javascript:;" class="slide-back"><span class="glyphBtn arrowLeft"></span></a>
                <a href="javascript:;" class="slide-next"><span class="glyphBtn arrowRight"></span></a>
                <div class="slide-container">
                  <div class="slide-wrapper">
                    {% for item in news %}
                      {% include "news/includes/collection_news_row.html" %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div> {# /row #}
      {% endif %}

      {% if tweets %}
        <div class="row">
          <div class="block twitter">
            <div class="col-md-12">
              <h2><span>Twitter</span> <a href="https://twitter.com/{{ config.TWITTER_SCREEN_NAME }}" target="_blank">@{{ config.TWITTER_SCREEN_NAME }}</a></h2>
              <div class="slider" id="twitter">
                <a href="javascript:;" class="slide-back"><span class="glyphBtn arrowLeft"></span></a>
                <a href="javascript:;" class="slide-next"><span class="glyphBtn arrowRight"></span></a>
                <div class="slide-container">
                  <div class="slide-wrapper twitter-timeline-container">
                    {% for tweet in tweets %}
                      {% with is_highlight = loop.index == 1 %}
                        {% include "collection/includes/tweet_row.html" %}
                      {% endwith %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div> {# /row #}
      {% endif %}

    </div>
  </section>

{% endblock %}

