{% extends "collection/base.html" %}
{% block body_class %}collection{% endblock %}
{% block level_menu %}
    {% include "collection/includes/levelMenu_search.html" %}
{% endblock %}
{% block main_content %}
  <section class="collection">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 metrics">
          <h2>{{ g.collection.name or _('NOME DA COLEÇÃO!!') }} <span>{% trans %}em números | Métricas{% endtrans %}</span></h2>
          <div class="levelMenu">
            <div class="col-md-10 col-sm-10 numbers">
              <div class="col-md-3 col-sm-3">
                {{ analytics.metrics.references }}
                <span>{% trans %}citações{% endtrans %}</span>
              </div>
              <div class="col-md-3 col-sm-3">
                {{ analytics.metrics.articles }}
                <span>{% trans %}artigos{% endtrans %}</span>
              </div>
              <div class="col-md-3 col-sm-3">
                {{ analytics.metrics.issues }}
                <span>{% trans %}números{% endtrans %}</span>
              </div>
              <div class="col-md-3 col-sm-3">
                {{ analytics.metrics.journals }}
                <span>{% trans %}períodicos{% endtrans %}</span>
              </div>
            </div>
            <div class="col-md-2 col-sm-2">
              <ul>
                <li>
                  <a href="{{ analytics.urls.downloads }}">{% trans %}Downloads{% endtrans %}</a>
                </li>
                <li>
                  <a href="{{ analytics.urls.references }}">{% trans %}Citações{% endtrans %}</a>
                </li>
                <li>
                  <a href="{{ analytics.urls.other }}">{% trans %}Outros indicadores{% endtrans %}</a>
                </li>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 periodicals">
          <h2>{% trans %}Lista de periódicos{% endtrans %}</h2>
          <div class="levelMenu">
            <ul>
              <li>
                <a href="{{ url_for('.collection_list') }}">{% trans %}Alfabética{% endtrans %}</a>
              </li>
              <li>
                <a href="{{ url_for('.collection_list') }}#theme">{% trans %}Temática{% endtrans %}</a>
              </li>
              <li>
                <a href="{{ url_for('.collection_list') }}#publisher">{% trans %}Por instituição{% endtrans %}</a>
              </li>
              <li>
                <a href="{{ url_for('.collection_list') }}#newIssue">{% trans %}Novos números{% endtrans %}</a>
              </li>
              <li>
                <a href="{{ url_for('.collection_list') }}#newJournals">{% trans %}Novos períodicos{% endtrans %}</a>
              </li>
              <li>
                <a href="{{ analytics.urls.other }}">{% trans %}Métricas{% endtrans %}</a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="block releases">
          <div class="col-md-12">
            <h2>Press-releases</h2>
            <div class="slider" id="pressrelases">
              <a href="javascript:;" class="slide-back"><span class="glyphBtn arrowLeft"></span></a>
              <a href="javascript:;" class="slide-next"><span class="glyphBtn arrowRight"></span></a>
              <div class="slide-container">
                <div class="slide-wrapper">
                  {% for press_release in press_releases %}
                    <div class="slide-item release">
                      <div class="col-md-12">
                        {% if press_release.article %}
                          <a data-toggle="modal" href="{{ url_for('.pressrelease', url_seg=press_release.journal.url_segment, url_seg_issue=press_release.issue.url_segment, url_seg_article=press_release.article.url_segment, lang_code=session.lang ) }}" data-target="#press_release_modal">{{ press_release.title }}</a>
                        {% else %}
                          <a data-toggle="modal" href="{{ url_for('.pressrelease', url_seg=press_release.journal.url_segment, url_seg_issue=press_release.issue.url_segment, lang_code=session.lang ) }}" data-target="#press_release_modal">{{ press_release.title }}</a>
                        {% endif %}
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="block perspective">
          <div class="col-md-12">
            <h2>SciELO <span>{% trans %}em perspectiva{% endtrans %}</span></h2>
            <div class="slider" id="perspective">
              <a href="javascript:;" class="slide-back"><span class="glyphBtn arrowLeft"></span></a>
              <a href="javascript:;" class="slide-next"><span class="glyphBtn arrowRight"></span></a>
              <div class="slide-container">
                <div class="slide-wrapper">
                  {% for item in news %}
                    {% with is_highlight = loop.index == 1 %}
                      {% include "news/includes/collection_news_row.html" %}
                    {% endwith %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="block twitter">
          <div class="col-md-12">
            <h2><span>Twitter</span> <a href="https://twitter.com/{{ config.TWITTER_SCREEN_NAME }}" target="_blank">@{{ config.TWITTER_SCREEN_NAME }}</a></h2>
            <div class="slider" id="twitter">
              <a href="javascript:;" class="slide-back"><span class="glyphBtn arrowLeft"></span></a>
              <a href="javascript:;" class="slide-next"><span class="glyphBtn arrowRight"></span></a>
              <div class="slide-container">
                <div class="slide-wrapper twitter-timeline-container">
                  {% for tweet in tweets %}
                    {% with is_highlight = loop.index == 1 %}
                      {% include "collection/includes/tweet_row.html" %}
                    {% endwith %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </section>

  {% include "includes/press_release_modal.html" %}

{% endblock %}

