{% extends "collection/base.html" %}

{% block main_content %}

  <style>
    .collectionList .collectionListTable td.collapseContainer .collapseContent table { margin-bottom: 0px; }
    .collectionList .collectionListTable td.collapseContainer .collapseContent { padding-bottom: 0px; }
    .collectionList .collectionListTable td.collapseContainer { padding: 0; }
    .collectionList { min-height: 400px; }
  </style>

  <section class="collection collectionList">
    <div class="container">
      {% with section_title=_('Lista periódicos por instituição') %}
        {% include "collection/includes/list_journals_section_title.html" %}
      {% endwith %}

      {% with input_id='query' %}
        {% include "collection/includes/list_journals_search_input.html" %}
      {% endwith %}

      <div id="list_table_container" class="row collectionListTable"></div>
      <div class="collectionListLoading" style="display: none;"></div>

      <div class="clearfix"></div>
    </div>
  </section>

  {# templates js #}

  <script id="template_collection_list_table" type="text/template">
    {% with template_collection_list_table_body_id='template_collection_list_table_body' %}
      {% include "collection/includes/tmpl_journal_list_grouper_table_container.html" %}
    {% endwith %}
  </script>

  <script id="template_collection_list_table_body" type="text/template">
    {% with template_journal_row_id='template_journal_row' %}
      {% include "collection/includes/tmpl_journal_list_grouper_table_row.html" %}
    {% endwith %}
  </script>

  <script id="template_journal_row" type="text/template">
    {% include "collection/includes/tmpl_journal_list_row.html" %}
  </script>

  <script id="template_empty_msg" type="text/template">
    {% include "collection/includes/tmpl_journal_list_empty.html" %}
  </script>

  <script id="template_error_msg" type="text/template">
    {% include "collection/includes/tmpl_journal_list_error.html" %}
  </script>

{% endblock %}

{% block extra_js %}

  <script src="{{ url_for('static', filename='js/journal_lists.js') }}"></script>
  <script>
    $(function() {

      var list = Object.create(JournalCategorizedList);
      list.initialize(
        '#list_table_container',
        '#query',
        '.collectionListLoading',
        'publisher',
        "{{ url_for('main.journals_search_by_theme_ajax') }}",
        "#template_error_msg",
        "#template_empty_msg",
        "{% trans %}Editoras{% endtrans %}",
        "{% trans %}editoras{% endtrans %}"
      ).search();

      /* download links */
      $('#list_table_container').on('results_loaded', function(event) {
        $('.collectionListDownloadXLS').click(function(event) {
          event.preventDefault();
          var target_url = "{{ url_for('.download_journal_list', list_type='publisher', extension='xls') }}";
          open_download_url(target_url, '#query');
        });
        $('.collectionListDownloadCSV').click(function(event) {
          event.preventDefault();
          var target_url = "{{ url_for('.download_journal_list', list_type='publisher', extension='csv') }}";
          open_download_url(target_url, '#query');
        });
      });

    });
  </script>

{% endblock %}
