{% trans %}Último número{% endtrans %}:
<a href="{{ url_for('main.issue_toc', issue_id=last_issue.iid) }}">
  <em>{% trans %}Volume{% endtrans %}</em> {{ last_issue.volume }}
  <em>{% trans %}Nº{% endtrans %} {{ last_issue.number }}</em> -
  {{ last_issue.year }}
  {% if journal.current_status != 'current' %}{% trans %}(inativo){% endtrans %}{% endif %}
</a><strong>{% trans %}de{% endtrans %} {{ journal.issue_count }} {% trans %}números{% endtrans %}</strong>.
{%- for section, article_list in articles.iteritems() %}
    {%- if section %}
        <h1>{{ section }}</h1>
    {%- endif %}
    <blockquote>
        {%- for article in article_list %}
            <p>{{ article.get_title_by_lang(language[:2])|striptags|title }}</p>
        {%- endfor %}
    </blockquote>
{% endfor %}