{% extends "collection/base.html" %}

{% block main_content %}

  <style>
    .collectionList .collectionListTable td.collapseContainer .collapseContent table { margin-bottom: 0px; }
    .collectionList .collectionListTable td.collapseContainer .collapseContent { padding-bottom: 0px; }
    .collectionList .collectionListTable td.collapseContainer { padding: 0; }
    .collectionList { min-height: 400px; }
  </style>

  <section class="collection collectionList">
    <div class="container">
      {% with section_title=_('Lista temática de periódicos') %}
        {% include "collection/includes/list_journals_section_title.html" %}
      {% endwith %}

      <ul class="nav nav-tabs">
        <li role="presentation" class="active">
          <a href="#areasConhecimento" data-toggle="tab">
            {% trans %}Grandes áreas do conhecimento{% endtrans %}
          </a>
        </li>
        <li role="presentation">
          <a href="#temasWoS" data-toggle="tab">
            {% trans %}Áreas temáticas do Web of Science{% endtrans %}
          </a>
        </li>
      </ul>

      <div class="tab-content">

        <!-- first tab -->
        <div class="tab-pane active collectionListStart" id="areasConhecimento">
          {% with input_id='query_areas', filter_id='query_filter_areas' %}
            {% include "collection/includes/list_journals_search_input.html" %}
          {% endwith %}

          <div id="areas_list_table_container"></div>
          {# <!-- loading gif -->  #}
          <div style="display: none;" class="collectionListLoadingAreas collectionListLoading"></div>
        </div>
        <!-- /first tab -->

        <!-- second tab -->
        <div class="tab-pane collectionListStart" id="temasWoS">
          {% with input_id='query_wos', filter_id='query_filter_wos' %}
            {% include "collection/includes/list_journals_search_input.html" %}
          {% endwith %}

          <div id="wos_list_table_container"></div>
          {# <!-- loading gif -->  #}
          <div style="display: none;" class="collectionListLoadingWos collectionListLoading"></div>
        </div>
        <!-- /second tab -->

      </div>
      <div class="clearfix"></div>
    </div>
  </section>

  {# templates js #}

  <script id="template_collection_list_table" type="text/template">
    {% with template_collection_list_table_body_id='template_collection_list_table_body' %}
      {% include "collection/includes/tmpl_journal_list_grouper_table_container.html" %}
    {% endwith %}
  </script>

  <script id="template_collection_list_table_body" type="text/template">
    {% with template_journal_row_id='template_journal_row' %}
      {% include "collection/includes/tmpl_journal_list_grouper_table_row.html" %}
    {% endwith %}
  </script>

  <script id="template_journal_row" type="text/template">
    {% include "collection/includes/tmpl_journal_list_row.html" %}
  </script>

  <script id="template_empty_msg" type="text/template">
    {% include "collection/includes/tmpl_journal_list_empty.html" %}
  </script>

  <script id="template_error_msg" type="text/template">
    {% include "collection/includes/tmpl_journal_list_error.html" %}
  </script>


{% endblock %}

{% block extra_js %}

    <script src="{{ url_for('static', filename='js/journal_lists.js') }}"></script>
    <script>
      $(function() {

        /* Grandes áreas do conhecimento */
        var areas_list = Object.create(JournalCategorizedList);
        areas_list.initialize(
          '#areas_list_table_container',
          '#query_areas',
          "query_filter_areas",
          '.collectionListLoadingAreas',
          'areas',
          "{{ url_for('main.journals_search_by_theme_ajax') }}",
          "#template_error_msg",
          "#template_empty_msg",
          "{% trans %}Título{% endtrans %}",
          "{% trans %}temas{% endtrans %}"
        ).search();

        /* Áreas temáticas do Web of Science */
        var wos_list = Object.create(JournalCategorizedList);
        wos_list.initialize(
          '#wos_list_table_container',
          '#query_wos',
          "query_filter_wos",
          '.collectionListLoadingWos',
          'wos',
          "{{ url_for('main.journals_search_by_theme_ajax') }}",
          "#template_error_msg",
          "#template_empty_msg",
          "{% trans %}Título{% endtrans %}",
          "{% trans %}temas{% endtrans %}"
        ).search();


        /* download links */
        $('#areas_list_table_container').on('results_loaded', function(event) {
          $('#areasConhecimento .collectionListDownloadXLS').click(function(event) {
            event.preventDefault();
            var target_url = "{{ url_for('.download_journal_list', list_type='areas', extension='xls') }}";
            open_download_url(target_url, '#query_areas');
          });
          $('#areasConhecimento .collectionListDownloadCSV').click(function(event) {
            event.preventDefault();
            var target_url = "{{ url_for('.download_journal_list', list_type='areas', extension='csv') }}";
            open_download_url(target_url, '#query_areas');
          });
        });

        $('#temasWoS').on('results_loaded', function(event) {
          $('#temasWoS .collectionListDownloadXLS').click(function(event) {
            event.preventDefault();
            var target_url = "{{ url_for('.download_journal_list', list_type='wos', extension='xls') }}";
            open_download_url(target_url, '#query_wos');
          });
          $('#temasWoS .collectionListDownloadCSV').click(function(event) {
            event.preventDefault();
            var target_url = "{{ url_for('.download_journal_list', list_type='wos', extension='csv') }}";
            open_download_url(target_url, '#query_wos');
          });
        });

      });
    </script>

{% endblock %}
