{% extends "collection/base.html" %}

{% block main_content %}

  <style>
    .collectionList { min-height: 400px; }
  </style>

  <section class="collection collectionList collectionListStart">

    <div class="container">
      {% with section_title=_('Lista alfabética de periódicos') %}
        {% include "collection/includes/list_journals_section_title.html" %}
      {% endwith %}
      {% with input_id='query' %}
        {% include "collection/includes/list_journals_search_input.html" %}
      {% endwith %}

      <div class="row collectionListTable">
        <table>
          <thead>
            <tr>
              <th class="actions"></th>
              <th>
                <div class="col-xs-6">
                  {% trans %}Título{% endtrans %} <small class="collectionListTotalInfo"></small>
                </div>
                <div class="col-xs-6 right download">
                  {% trans %}download da lista{% endtrans %}
                  <a data-toggle="tooltip" href="#" class="collectionListDownloadXLS" title="{% trans %}Lista em arquivo para Excel{% endtrans %}">
                    <span class="glyphBtn downloadXLS"></span>
                  </a>
                  <a data-toggle="tooltip" href="#" class="collectionListDownloadCSV" title="{% trans %}Lista em arquivo CSV{% endtrans %}">
                    <span class="glyphBtn downloadCSV"></span>
                  </a>
                </div>
              </th>
            </tr>
          </thead>
          <tbody id="journals_table_body">
            {# preenchido com a lista de periódicos com js #}
          </tbody>
        </table>
        <div class="collectionListLoading" style="display: none;"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </section>

  <script id="template_journal_row" type="text/template">
    {% include "collection/includes/tmpl_journal_list_row.html" %}
  </script>

  <script id="template_empty_msg" type="text/template">
    {% include "collection/includes/tmpl_journal_list_empty.html" %}
  </script>

  <script id="template_error_msg" type="text/template">
    {% include "collection/includes/tmpl_journal_list_error.html" %}
  </script>

{% endblock %}
{% block extra_js %}

  <script src="{{ url_for('static', filename='js/journal_lists.js') }}"></script>
  <script>
    $(function() {
      var list = JournalListAlpha.initialize(
        "{{ url_for('main.journals_search_alpha_ajax') }}",
        "#template_journal_row",
        "#journals_table_body",
        "#query",
        ".collectionListLoading",
        "#template_error_msg",
        "#template_empty_msg"
      ).search(true);

      /* download links */
      $('.collectionListDownloadXLS').click(function(event) {
        event.preventDefault();
        var target_url = "{{ url_for('.download_journal_list', list_type='alpha', extension='xls') }}";
        open_download_url(target_url, '#query');
      });
      $('.collectionListDownloadCSV').click(function(event) {
        event.preventDefault();
        var target_url = "{{ url_for('.download_journal_list', list_type='alpha', extension='csv') }}";
        open_download_url(target_url, '#query');
      });

    });
  </script>

{% endblock %}
