{% extends "base.html" %}
{% block body_class %}portal collection{% endblock %}
{% block content %}
  {% include "collection/includes/header.html" %}
  {% include "collection/includes/levelMenu.html" %}

  {% block main_content %}

    <iframe id="search_frame" src="{{config.URL_SEARCH}}?content_only=true{% if session.lang %}&lang={{ session.lang[:2] }}{% endif %}{% if request.args.get('filter') %}&filter[ta_cluster][]={{request.args.get('filter')}}{% endif %}{% if request.args.get('q') %}&q={{request.args.get('q')}}{% endif %}" height="100%" width="100%" frameborder="0" scrolling="no"></iframe>

  {% endblock %}

  {% include "includes/footer.html" %}

  {% include "collection/includes/email_modal.html" %}

{% endblock %}

{% block extra_js %}
    <script>
      iFrameResize();
    </script>
{% endblock %}
