[Unit]
Description=Gunicorn instance to serve OPAC
After=network.target

[Service]
User=nginx
Group=nginx
WorkingDirectory=/var/www/opac/
ExecStart=gunicorn --workers 3 --bind unix:opac.sock -m 007 manager:app

[Install]
WantedBy=multi-user.target
