<script>

  var contact_email2 = Object.create(ModalForms);

  contact_email2.init(
    "#contact_modal_id",
    "#contact_form_id",
    "{{ url_for('main.contact', url_seg=journal.url_segment) }}",
    "POST",
    "#contact_submit_btn_id",
    true,
    "{{ config.get('GOOGLE_RECAPTCHA_SECRET_KEY') }}",
    "contact_captcha_id",
    "light",
    "#contact_modal_confirm_id",
    "{% trans %}Email enviado para {% endtrans %} {{journal.publisher_name}} {% trans %}com sucesso.{% endtrans %}",
    "{% trans %}Erro ao tentar enviar e-mail, por favor tente mais tarde.{% endtrans %}"
  );

</script>