{% import 'macros/images.html' as cimages %}

<header>
  <div class="container">
    <div class="topFunction">
      <div class="col-md-2 col-sm-3 mainNav">
        <a href="" class="menu" data-rel="#mainMenu" title="Abrir menu">{% trans %}Abrir menu{% endtrans %}</a>
        <h2>
          <a href="{{ url_for('.index') }}" title="{% trans %} Ir para a homepage da coleção {% endtrans %}{{ g.collection.name or _('NOME DA COLEÇÃO!!') }}">
            <img src="{{ cimages.get_header_logo(g.collection, session.lang) }}" class="image" alt="{{ g.collection.name or _('NOME DA COLEÇÃO!!') }}" data-lang="{{ session.lang }}">
          </a>
        </h2>
        <div class="mainMenu" id="mainMenu">
          <div class="row">
            <div class="col-md-7 col-md-offset-2 col-sm-7 col-sm-offset-2 logo">
              <img src="{{ cimages.get_menu_logo(g.collection, session.lang) }}" class="image" alt="logomarca da coleção {{ g.collection.name or _('NOME DA COLEÇÃO!!') }}">
            </div>
          </div>
          {% include "collection/includes/nav.html" %}
        </div>
      </div>
      <div class="col-md-8 col-sm-6 brandLogo">
        <div class="row">
          {% if journal.logo_url %}
            <div class="col-md-3 hidden-sm">
              <a href="{{ url_for('.journal_detail', url_seg=journal.url_segment) }}">
                  <img src="{{ cimages.proxy_ssm_resource_url(journal.logo_url) }}"
                       class="image" alt="Logomarca do periódico: {{ journal.title }}" />
              </a>
            </div>
          {% else %}
            <div class="col-md-1 hidden-sm">
            </div>
          {% endif %}
          <div class="col-md-9 col-md-offset-0 col-sm-11 col-sm-offset-1">
            <h1>
              <div style="outline:0px solid red; margin-left:-5px;">
                <span class="sci-ico-openAccess"></span>
                <span class="openAccess"> Open Access</span>
              </div>
              {{ journal.title }}
            </h1>
            <span class="publisher">
              {% trans %}Publicação de:{% endtrans %} <strong>{{ journal.publisher_name}}</strong>
            </span>
            </br>
            <span class="theme">
              <span class="area">
                {% trans %}Área:{% endtrans %}
              </span>
              {% if journal.subject_categories %}
                {{ journal.subject_categories|join(', ')|title|truncate(60) }}
              {% endif %}
              {% if journal.study_areas %}
                {{ journal.study_areas|join(', ')|title|truncate(60) }}
              {% endif %}
            </span>
            <span class="issn">
              {% if journal.print_issn %}
                <span class="issnLabel">
                  {% trans %}Versão impressa ISSN:{% endtrans %}
                </span>
                {{ journal.print_issn }}
                {% if journal.eletronic_issn %}<br/>{% endif %}
              {% endif %}
              {% if journal.eletronic_issn %}
                <span class="issnLabel">
                  {% trans %}Versão on-line ISSN:{% endtrans %}
                </span>
                {{ journal.eletronic_issn }}
              {% endif %}
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-3 journalMenu">
        <div class="language">
          {% include "includes/language.html" %}
        </div>
        <ul>
          {% if journal.online_submission_url and journal.current_status == 'current' %}
            <li>
              <a href="{{ journal.online_submission_url|default('', true) }}" target="_blank">
                <span class="glyphBtn submission"></span> {% trans %}Submissão de manuscritos{% endtrans %}
              </a>
            </li>
          {% endif %}
          <li>
            <a href="{{ url_for('.about_journal', url_seg=journal.url_segment) }}#about">
              <span class="glyphBtn about"></span> {% trans %}Sobre o periódico{% endtrans %}
            </a>
          </li>
          <li>
            <a href="{{ url_for('.about_journal', url_seg=journal.url_segment) }}#editors">
              <span class="glyphBtn authorInstructions"></span> {% trans %}Corpo Editorial{% endtrans %}
            </a>
          </li>
          <li>
            <a href="{{ url_for('.about_journal', url_seg=journal.url_segment) }}#instructions">
              <span class="glyphBtn authorInstructions"></span> {% trans %}Instruções aos autores{% endtrans %}
            </a>
          </li>
          <li>
            <a href="{{ url_for('.about_journal', url_seg=journal.url_segment) }}#contact">
              <span class="glyphBtn contact"></span> {% trans %}Contato{% endtrans %}
            </a>
          </li>
          {% if journal.social_networks %}
            <li>
              <a href="#followus">
                <span class="glyphBtn otherNetworks"></span>
                {% trans %}Siga-nos{% endtrans %}
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</header>
