{% import 'macros/resources.html' as mresources %}

<header>
  <div class="container">
    <div class="topFunction">
      <div class="col-md-2 col-sm-3 mainNav">
        <a href="" class="menu" data-rel="#mainMenu" title="Abrir menu">{% trans %}Abrir menu{% endtrans %}</a>
        <h2><a href="{{ url_for('.index') }}" title="Ir para a homepage da Coleção SciELO Brasil"><img src="{{ mresources.get_resource_url(g.collection.header_logo_resource, 'img', session.lang) }}" alt="{% trans %}SciELO Brazil{% endtrans %}" data-lang="{{ session.lang }}"></a></h2>
        <div class="mainMenu" id="mainMenu">
          <div class="row">
            <div class="col-md-7 col-md-offset-2 col-sm-7 col-sm-offset-2 logo">
              <img src="{{ url_for('static', filename='img/logo-scielo-journal-brasil.png')}}" alt="SciELO Brasil">
            </div>
          </div>
          <nav>
            <ul>
              <li>
                <a href="{{ url_for('.index') }}"><strong>SciELO Brasil</strong></a>
                <ul>
                  <li><a href="{{ url_for('.collection_list_alpha') }}">{% trans %}Lista alfabética de periódicos{% endtrans %}</a></li>
                  <li><a href="{{ url_for('.collection_list_theme') }}">{% trans %}Lista temática de periódicos{% endtrans %}</a></li>
                  <li><a href="/Colecao/edit.html">{% trans %}Lista de periódicos por editoras{% endtrans %}</a></li>
                  <li><a href="/Colecao/buscar.html">{% trans %}Busca{% endtrans %}</a></li>
                  <li><a href="/Colecao/metricas.html">{% trans %}Métricas{% endtrans %}</a></li>
                  <li><a href="/Colecao/sobre.html">{% trans %}Sobre o SciELO{% endtrans %} Brasil</a></li>
                  <li><a href="/Colecao/contatos.html">{% trans %}Contatos{% endtrans %}</a></li>
                </ul>
              </li>
              <li>
                <a href="/Rede/"><strong>{% trans %}SciELO.org - Rede SciELO{% endtrans %}</strong></a>
                <ul>
                  <li><a href="http://www.scielo.org/php/index.php">{% trans %}Coleções nacionais e temáticas{% endtrans %}</a></li>
                  <li><a href="http://www.scielo.org/applications/scielo-org/php/secondLevel.php?xml=secondLevelForAlphabeticList&xsl=secondLevelForAlphabeticList">{% trans %}Lista alfabética de periódicos{% endtrans %}</a></li>
                  <li><a href="http://www.scielo.org/applications/scielo-org/php/secondLevel.php?xml=secondLevelForSubjectByLetter&xsl=secondLevelForSubjectByLetter">{% trans %}Lista de periódicos por assunto{% endtrans %}</a></li>
                  <li><a href="/Colecao/buscar.html">{% trans %}Busca{% endtrans %}</a></li>
                  <li><a href="http://www.scielo.org/applications/scielo-org/php/siteUsage.php">{% trans %}Métricas{% endtrans %}</a></li>
                  <li><a href="http://www.scielo.org/php/level.php?lang=pt&component=56&item=9">{% trans %}Acesso OAI e RSS{% endtrans %}</a></li>
                  <li><a href="http://www.scielo.org/php/level.php?lang=pt&component=56&item=8">{% trans %}Sobre a Rede SciELO{% endtrans %}</a></li>
                  <li><a href="#">{% trans %}Contatos{% endtrans %}</a></li>
                </ul>
              </li>
              <li>
                <a href="#"><strong>{% trans %}Portal do Autor{% endtrans %}</strong></a>
              </li>
              <li>
                <a href="http://blog.scielo.org/"><strong>{% trans %}Blog SciELO em Perspectiva{% endtrans %}</strong></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-md-8 col-sm-6 brandLogo">
        <div class="row">
          <div class="col-md-3 hidden-sm">
            <img src="../static/trash/logo-boletim-emilio-goeldi.jpg" alt="Logomarca do Boletim do Museu Paraense Emílio Goeldi" />
          </div>
          <div class="col-md-9 col-md-offset-0 col-sm-11 col-sm-offset-1">
            <span class="theme">{{ journal.study_areas|join(', ') }}</span>
            <h1>{{ journal.title }}</h1>
            <span class="publisher">{% trans %}Publicação de{% endtrans %} <strong>{{ journal.publisher_name}}</strong></span>
            <span class="issn">
              ISSN
              {% if journal.eletronic_issn %}
                {{ journal.eletronic_issn }}
              {% else %}
                {{ journal.print_issn }}
              {% endif %}
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-3 journalMenu">
        <div class="language">
          {% include "includes/language.html" %}
        </div>
        <ul>
          <li><a href="secundaria.html"><span class="glyphBtn submission"></span> {% trans %}Submissão de manuscritos{% endtrans %}</a></li>
          <li><a href="secundaria.html"><span class="glyphBtn authorInstructions"></span> {% trans %}Instruções aos autores{% endtrans %}</a></li>
          <li><a href="secundaria.html"><span class="glyphBtn about"></span> {% trans %}Sobre o periódico{% endtrans %}</a></li>
          <li><a href="secundaria.html"><span class="glyphBtn contact"></span> {% trans %}Contato{% endtrans %}</a></li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</header>
