{% import 'macros/resources.html' as mresources %}

<header>
  <div class="container">
    <div class="topFunction">
      <div class="col-md-2 col-sm-3 mainNav">
        <a href="" class="menu" data-rel="#mainMenu" title="Abrir menu">{% trans %}Abrir menu{% endtrans %}</a>
        <h2>
          <a href="{{ url_for('.index') }}" title="{% trans %} Ir para a homepage da coleção {% endtrans %}{{ g.collection.name or _('NOME DA COLEÇÃO!!') }}">
            <img src="{% if g.collection.header_logo_resource %}{{ g.collection.header_logo_resource or '#' }}{% endif %}" class="image" alt="{{ g.collection.name or _('NOME DA COLEÇÃO!!') }}" data-lang="{{ session.lang }}">
          </a>
        </h2>
        <div class="mainMenu" id="mainMenu">
          <div class="row">
            <div class="col-md-7 col-md-offset-2 col-sm-7 col-sm-offset-2 logo">
              <img src="{{ mresources.get_resources_url(g.collection.header_alter_logo_resource, 'img', session.lang) }}" class="image" alt="logomarca da coleção {{ g.collection.name or _('NOME DA COLEÇÃO!!') }}">
            </div>
          </div>
          {% include "collection/includes/nav.html" %}
        </div>
      </div>
      <div class="col-md-8 col-sm-6 brandLogo">
        <div class="row">
          {% if journal.logo_url %}
            <div class="col-md-3 hidden-sm">
              <img src="{{ journal.logo_url or '' }}" class="image" alt="Logomarca do periódico: {{ journal.title }}" />
            </div>
          {% else %}
            <div class="col-md-1 hidden-sm">
            </div>
          {% endif %}
          <div class="col-md-9 col-md-offset-0 col-sm-11 col-sm-offset-1">
            <h1>{{ journal.title }}</h1>
            <span class="publisher">{% trans %}Publicação de: {% endtrans %} <strong>{{ journal.publisher_name}}</strong></span></br>
            <span class="theme">
              {% if journal.subject_categories %}
                {{ journal.subject_categories|join(', ')|title }}
              {% endif %}
              {% if journal.study_areas %}
                {{ journal.study_areas|join(', ')|title }}
              {% endif %}
            </span>
            <span class="issn">
              {% if journal.print_issn %}
                {% trans %}versão impressa ISSN{% endtrans %} {{ journal.print_issn }}
                {% if journal.eletronic_issn %}<br/>{% endif %}
              {% endif %}
              {% if journal.eletronic_issn %}
                {% trans %}versão on-line ISSN{% endtrans %} {{ journal.eletronic_issn }}
              {% endif %}
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-3 journalMenu">
        <div class="language">
          {% include "includes/language.html" %}
        </div>
        <ul>
          <li><a href="{{ journal.online_submission_url|default('', true) }}"><span class="glyphBtn submission"></span> {% trans %}Submissão de manuscritos{% endtrans %}</a></li>
          <li><a href="{{ url_for('.about_journal', url_seg=journal.url_segment) }}#instructions"><span class="glyphBtn authorInstructions"></span> {% trans %}Instruções aos autores{% endtrans %}</a></li>
          <li><a href="{{ url_for('.about_journal', url_seg=journal.url_segment) }}#about"><span class="glyphBtn about"></span> {% trans %}Sobre o periódico{% endtrans %}</a></li>
          <li><a href="{{ url_for('.about_journal', url_seg=journal.url_segment) }}#contact"><span class="glyphBtn contact"></span> {% trans %}Contato{% endtrans %}</a></li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</header>
