{% import 'macros/menu.html' as mmenu %}

<section class="levelMenu">
  <div class="container">
    <div class="col-md-2 col-sm-2">
      <h2>&#160;</h2>
      <a href="{{ url_for('.journal_detail', journal_id=journal.jid) }}" class="btn single {{ mmenu.endpoint_selected(view_name='main.journal_detail') }}"><span class="glyphBtn home"></span> {% trans %}home{% endtrans %}</a>
    </div>
    <div class="col-md-6 col-sm-6">
      <h2><span class="glyphBtn numbers"></span> {% trans %}Números{% endtrans %}</h2>
      <div class="btn-group">

        {# Todos #}
        <a href="{{ url_for('.issue_grid', journal_id=journal.jid) }}" class="btn group {{ mmenu.endpoint_selected(view_name='main.issue_grid') }}">{% trans %}todos{% endtrans %}</a>

        {# Anterior #}
        <a href="{{ url_for('.issue_toc', issue_id=previous_issue.iid) }}" class="btn group {% if not previous_issue %} disabled {% endif %}">« {% trans %}anterior{% endtrans %}</a>

        {# Atual #}
        <a href="{{ url_for('.issue_toc', issue_id=last_issue.iid) }}" class="btn group {% if last_issue == issue %} selected {% endif %} {% if not last_issue %} disabled {% endif %}">{% trans %}atual{% endtrans %}</a>

        {# Próximo #}
        <a href="{{ url_for('.issue_toc', issue_id=next_issue.iid) }}" class="btn group {% if not next_issue %} disabled {% endif %}">{% trans %}próximo{% endtrans %} »</a>

      </div>
    </div>
    <div class="col-md-2 col-sm-2">
      <h2>&#160;</h2>
      <a href="buscar.html" class="btn single"><span class="glyphBtn search"></span> {% trans %}buscar{% endtrans %}</a>
    </div>
    <div class="col-md-2 col-sm-2">
      <h2>&#160;</h2>
      <a href="metricas.html" class="btn single"><span class="glyphBtn metrics"></span> {% trans %}métricas{% endtrans %}</a>
    </div>
  </div>
</section>
