{% import 'macros/menu.html' as mmenu %}

<section class="levelMenu">
  <div class="container">
    <div class="col-md-2 col-sm-2">
      <h2>&#160;</h2>
      <a href="{{ url_for('.journal_detail', journal_id=journal.jid) }}" class="btn single {{ mmenu.endpoint_selected(view_name='main.journal_detail') }}"><span class="glyphBtn home"></span> {% trans %}home da revista{% endtrans %}</a>
    </div>
    <div class="col-md-6 col-sm-6">
      <h2>&#160;</h2>
      <div class="btn-group">

        {# Todos #}
        <a href="{{ url_for('.issue_grid', journal_id=journal.jid) }}" class="btn group {{ mmenu.endpoint_selected(view_name='main.issue_grid') }}">
          {% trans %}todos os números{% endtrans %}
        </a>

        {# Anterior #}
        <a href="{{ url_for('.issue_toc', issue_id=previous_issue.iid) }}" class="btn group {% if not previous_issue %} disabled {% endif %}">
          &laquo; {% trans %}número anterior{% endtrans %}
        </a>

        {# Atual #}
        <a href="{{ url_for('.issue_toc', issue_id=last_issue.iid) }}" class="btn group {% if last_issue == issue %} selected {% endif %} {% if not last_issue %} disabled {% endif %}">
          {% trans %}número atual{% endtrans %}
        </a>

        {# Próximo #}
        <a href="{{ url_for('.issue_toc', issue_id=next_issue.iid) }}" class="btn group {% if not next_issue %} disabled {% endif %}">
          {% trans %}número seguinte{% endtrans %} &raquo;
        </a>

      </div>
    </div>
    <div class="col-md-2 col-sm-2">
      <h2>&#160;</h2>
      <a href="{{ url_for('.search') }}?content_only=true&lang={% if session.lang %}{{ session.lang[:2] }}{% endif %}&filter={% if journal.short_title %}{{ journal.short_title }}{% endif %}" class="btn single"><span class="glyphBtn search"></span> {% trans %}buscar{% endtrans %}</a>
    </div>
    <div class="col-md-2 col-sm-2">
      <h2>&#160;</h2>
      {% if journal.scielo_issn or journal.eletronic_issn or journal.print_issn %}
        <a target="_blank" href="//analytics.scielo.org/?journal={{ journal.scielo_issn or journal.eletronic_issn or journal.print_issn }}&collection={{ config.OPAC_COLLECTION }}" class="btn single">
          <span class="glyphBtn metrics"></span> {% trans %}métricas{% endtrans %}
        </a>
      {% else %}
        <a target="_blank" href="//analytics.scielo.org/?collection={{ config.OPAC_COLLECTION }}" class="btn single">
          <span class="glyphBtn metrics"></span> {% trans %}métricas{% endtrans %}
        </a>
      {% endif %}
    </div>
  </div>
</section>
