{% extends "base.html" %}
{% block body_class %}journal about{% endblock %}
{% block content %}
  {% include "journal/includes/header.html" %}
  {% include "journal/includes/levelMenu.html" %}

  {% block main_content %}

    <!-- CLOCKSS system has permission to ingest, preserve, and serve this Archival Unit -->
    <div class="widget widget-Lockss widget-instance-IssueBrowseByYear_Lockss">

      <input class="at-locks-messaging" type="hidden" value="LOCKSS system has permission to collect, preserve, and serve this Archival Unit" />

      <input class="at-clockss-messaging" type="hidden" value="CLOCKSS system has permission to ingest, preserve, and serve this Archival Unit" />

    </div>

    <section class="journalContent">
        <div class="container">

            <div class="col-md-4 col-md-offset-8 share">
                <a href="javascript:window.print();" class="sharePrint showTooltip" data-placement="top" title="" data-original-title="Imprimir"><span class="glyphBtn print"></span></a>
                <a href="#" class="showTooltip" data-placement="top" title="" target="blank" data-original-title="Atom"><span class="glyphBtn rssMini"></span></a>
                <span class="divisor"></span>
                {% trans %}Compartilhe{% endtrans %}
                <a href="" class="share_modal_id showTooltip" data-placement="top" title="" data-original-title="{% trans %}Enviar link por e-mail{% endtrans %}"><span class="glyphBtn sendMail"></span></a>
                <a href="" class="shareFacebook showTooltip" data-placement="top" title="" data-original-title="{% trans %}Compartilhar no Facebook{% endtrans %}"><span class="glyphBtn facebook"></span></a>
                <a href="" class="shareTwitter showTooltip" data-placement="top" title="" data-original-title="{% trans %}Compartilhar no Twitter{% endtrans %}"><span class="glyphBtn twitter"></span></a>
                <a href="" class="showTooltip dropdown-toggle" data-toggle="dropdown" data-placement="top" title="" data-original-title="{% trans %}Outras redes sociais{% endtrans %}"><span class="glyphBtn otherNetworks"></span></a>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">{% trans %}Outras redes sociais{% endtrans %}</li>
                    <li><a href="" class="shareGooglePlus"><span class="glyphBtn googlePlus"></span> Google+</a></li>
                    <li><a href="" class="shareLinkedIn"><span class="glyphBtn linkedIn"></span> LinkedIn</a></li>
                    <li><a href="" class="shareReddit"><span class="glyphBtn reddit"></span> Reddit</a></li>
                    <li><a href="" class="shareStambleUpon"><span class="glyphBtn stambleUpon"></span> StambleUpon</a></li>
                    <li><a href="" class="shareCiteULike"><span class="glyphBtn citeULike"></span> CiteULike</a></li>
                    <li><a href="" class="shareMendeley"><span class="glyphBtn mendeley"></span> Mendeley</a></li>
                </ul>
            </div>

            <div class="col-md-12 content journalSecundary">
                {% include "includes/page_updated_at_info.html" %}
                <div class="row">
                    <div class="{% if journal.social_networks %}col-md-8 col-sm-8{% else %}col-md-12 col-sm-12{%endif%}">
                        {% if content %}
                          {{ content|safe }}
                        {% else %}
                          {% trans %}Conteúdo não cadastrado{% endtrans %}
                        {% endif %}
                    </div>

                    {% if journal.social_networks or journal.logo_url %}
                      <div class="col-md-4 col-sm-4">

                        {# {% if journal.logo_url %}
                          <a href="#" class="linkLogo">
                            <img src="{{ journal.logo_url }}" alt="{% trans %}Logo{% endtrans %} {{ journal.title }}">
                            {% trans %}Clique para ver a logo deste periódico{% endtrans %}
                          </a>
                        {% endif %} #}

                        {% if journal.social_networks %}
                          <div class="linkSocial">
                            <small>{% trans %}Siga este periódico nas redes sociais{% endtrans %}</small>
                            <ul>
                              {% for sn in journal.social_networks %}
                                {% if sn.account %}
                                  <li>
                                    <a href="{{ sn.account }}">
                                      {% with network = sn.network|lower  %}
                                        {% if network == 'twitter' %}
                                           <span class="glyphBtn bigTwitter"></span> FACEBOOK
                                        {% elif network == 'facebook' %}
                                           <span class="glyphBtn bigFacebook"></span> TWITTER
                                        {% elif network == 'google+' or network == 'google' %}
                                           <span class="glyphBtn bigGooglePlus"></span> GOOGLE+
                                        {% else %}
                                           <span class="glyphBtn"></span> {{ network|upper }}
                                        {% endif %}
                                      {% endwith %}
                                    </a>
                                  </li>
                                {% endif %}
                              {% endfor %}
                            </ul>
                          </div>
                        {% endif %}
                      </div>
                    {% endif %}
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>

  {% endblock %}

  {% include "journal/includes/contact_footer.html" %}

  {% include "includes/footer.html" %}

  {% include "journal/includes/alternative_header.html" %}

{% endblock %}


