{% extends "base.html" %}

{% block title %}{{ journal.title }}{% endblock %}

{% block extra_meta %}
{% include "journal/includes/meta.html" %}
{% endblock %}

{% block body_class %}journal{% endblock %}
{% block content %}
  {% include "journal/includes/header.html" %}
  {% include "journal/includes/levelMenu.html" %}

  {% block main_content %}{% endblock %}

  {% include "includes/footer.html" %}

  {% include "journal/includes/alternative_header.html" %}

  <div class="modal fade" id="contact_modal_id" tabindex="-1" role="dialog" aria-hidden="true"></div>

{% endblock %}
