{% extends "journal/base.html" %}

{% block main_content %}

  <section class="journalContent">
    <div class="container">
      <div class="col-md-4 col-md-offset-8 share">
        <a href="javascript:window.print();" class="sharePrint showTooltip" data-placement="top" title="{% trans %}Imprimir{% endtrans %}"><span class="glyphBtn print"></span></a>
        <a href="#" class="showTooltip" data-placement="top" title="RSS" target="blank"><span class="glyphBtn rssMini"></span></a>
        <span class="divisor"></span>
        {% trans %}Compartilhe{% endtrans %}
        <a href="" class="sendViaMail showTooltip" data-placement="top" title="{% trans %}Enviar link por e-mail{% endtrans %}"><span class="glyphBtn sendMail"></span></a>
        <a href="" class="shareFacebook showTooltip" data-placement="top" title="{% trans %}Compartilhar no Facebook{% endtrans %}"><span class="glyphBtn facebook"></span></a>
        <a href="" class="shareTwitter showTooltip" data-placement="top" title="{% trans %}Compartilhar no Twitter{% endtrans %}"><span class="glyphBtn twitter"></span></a>
        <a href="" class="showTooltip dropdown-toggle" data-toggle="dropdown" data-placement="top" title="{% trans %}Outras redes sociais{% endtrans %}"><span class="glyphBtn otherNetworks"></span></a>
        <ul class="dropdown-menu">
          <li class="dropdown-header">{% trans %}Outras redes sociais{% endtrans %}</li>
          <li><a href="" class="shareGooglePlus"><span class="glyphBtn googlePlus"></span> Google+</a></li>
          <li><a href="" class="shareLinkedIn"><span class="glyphBtn linkedIn"></span> LinkedIn</a></li>
          <li><a href="" class="shareReddit"><span class="glyphBtn reddit"></span> Reddit</a></li>
          <li><a href="" class="shareStambleUpon"><span class="glyphBtn stambleUpon"></span> StambleUpon</a></li>
          <li><a href="" class="shareCiteULike"><span class="glyphBtn citeULike"></span> CiteULike</a></li>
          <li><a href="" class="shareMendeley"><span class="glyphBtn mendeley"></span> Mendeley</a></li>
        </ul>
      </div>
      <div class="col-md-12 content journalHome">
        <div class="block mission">
          <div class="col-md-6 col-sm-6">
            {% if journal.mission %}
              <h1>{% trans %}Nossa Missão{% endtrans %}</h1>
              {% if session.lang %}
                <p>{{ journal.get_mission_by_lang(session.lang[:2]) }}</p>
              {% endif %}
            {% endif %}
          </div>
          <div class="col-md-6 col-sm-6">
            <h3>{% trans %}Métricas deste periódico{% endtrans %}</h3>
            <ul>
              <li><a href="">SciELO</a>
              <li><a href="">Google Scholar</a>
                <div>
                  <small>{% trans %}Índice h5{% endtrans %}:</small> <strong>6</strong>
                </div>
                <div>
                  <small>{% trans %}Mediana h5{% endtrans %}:</small> <strong>16</strong>
                </div>
              </li>
            </ul>
          </div>
          <div class="clearfix"></div>
        </div>
        {% if journal.last_issue %}
          <div class="block lastIssue">
            <div class="col-md-6 col-sm-6">
              <a href="{{ url_for('.issue_toc', issue_id=journal.last_issue.iid) }}">
                {% if journal.last_issue.cover_url %}
                  <img src="{{ latest_issue.cover_url }}" class="image" alt="{% trans %}Capa do número mais recente{% endtrans %}" /> <!-- a imagem é opcional -->
                {% endif %}
                <span class="text">
                  <small>{% trans %}Número mais recente{% endtrans %}</small>
                  <h2>{{ journal.last_issue.bibliographic_legend }}</h2>
                </span>
              </a>
            </div>
            <div class="col-md-6 col-sm-6">
              <h3>{% trans %}Sumário{% endtrans %}</h3>
              <ul>
                {% for section in journal.last_issue.sections|sort(attribute='name') %}
                  <li><a href="{{ url_for('.issue_toc', issue_id=journal.last_issue.iid) }}#{{ section|upper }}">{{ section }}</a></li>
                {% endfor %}
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
        {% endif %}

        {# press releases #}
        <div class="block releases">
          <div class="col-md-12">
            <h2>Press-releases</h2>
            <div class="slider">
              <a href="javascript:;" class="slide-back"><span class="glyphBtn arrowLeft"></span></a>
              <a href="javascript:;" class="slide-next"><span class="glyphBtn arrowRight"></span></a>
              <div class="slide-container">
                <div class="slide-wrapper">
                  <div class="slide-item release">
                    <div class="col-md-12">
                      <span>2013/12 - v8 n.3</span>
                      <h3>Dossiê Metodologia da pesquisa arqueológica</h3>
                      <div>
                        {% trans %}Press-release em{% endtrans %} <a href="">{% trans %}português{% endtrans %}</a>, <a href="">{% trans %}inglês{% endtrans %}</a>
                      </div>
                    </div>
                  </div>
                  <div class="slide-item release">
                    <div class="col-md-12">
                      <span>2012/12 - v7 n.3</span>
                      <h3>Dossiês sobre antropologia física e sobre hidrelétricas</h3>
                      <div>
                        {% trans %}Press-release em{% endtrans %} <a href="">{% trans %}português{% endtrans %}</a>, <a href="">{% trans %}inglês{% endtrans %}</a>
                      </div>
                    </div>
                  </div>
                  <div class="slide-item release">
                    <div class="col-md-12">
                      <span>2012/08 - v7 n.2</span>
                      <h3>Agriculturas Amazônicas</h3>
                      <div>
                        {% trans %}Press-release em{% endtrans %} <a href="">{% trans %}português{% endtrans %}</a>, <a href="">{% trans %}inglês{% endtrans %}</a>
                      </div>
                    </div>
                  </div>
                  <div class="slide-item release">
                    <div class="col-md-12">
                      <span>2013/12 - v8 n.3</span>
                      <h3>Dossiê Metodologia da pesquisa arqueológica</h3>
                      <div>
                        {% trans %}Press-release em{% endtrans %} <a href="">{% trans %}português{% endtrans %}</a>, <a href="">{% trans %}inglês{% endtrans %}</a>
                      </div>
                    </div>
                  </div>
                  <div class="slide-item release">
                    <div class="col-md-12">
                      <span>2012/04 - v7 n.1</span>
                      <h3>Museologia e Patrimônio</h3>
                      <div>
                        {% trans %}Press-release em{% endtrans %} <a href="">{% trans %}português{% endtrans %}</a>, <a href="">{% trans %}inglês{% endtrans %}</a>
                      </div>
                    </div>
                  </div>
                  <div class="slide-item release">
                    <div class="col-md-12">
                      <span>2011/08 - v6 n.2</span>
                      <h3>Número especial destaca obra de Benedito Nunes</h3>
                      <div>
                        {% trans %}Press-release em{% endtrans %} <a href="">{% trans %}português{% endtrans %}</a>, <a href="">{% trans %}inglês{% endtrans %}</a>
                      </div>
                    </div>
                  </div>
                  <div class="slide-item release">
                    <div class="col-md-12">
                      <span>2011/08 - v6 n.2</span>
                      <h3>Número especial destaca obra de Benedito Nunes</h3>
                      <div>
                        {% trans %}Press-release em{% endtrans %} <a href="">{% trans %}português{% endtrans %}</a>, <a href="">{% trans %}inglês{% endtrans %}</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        {# /press releases #}

        {# news #}
        <div class="block news">
          <div class="col-md-12">
            <h2>{% trans %}Notícias{% endtrans %}</h2>

            <a href="#">
              <div class="col-md-2 col-sm-3">
                <img src="" alt="" />
              </div>
              <div class="col-md-8 col-sm-8">
                10/05/2013
                <h3>RAE abre chamada de trabalhos em Social Businesses</h3>
                RAE está com a chamada de trabalhos, Social Businesses, organizada pelos professores Edgard Barki (FGV-EAESP), Graziella Comini (FEA-USP), Stuart Hart (Cornell University), Sudhanshu Rai (Copenhagen Business School), Ann L Cunliffe (Leeds University Business School). O prazo para submissões é 10/03/2014. <strong>{% trans %}Continue lendo{% endtrans %} »</strong>
              </div>
              <div class="clearfix"></div>
            </a>

            <a href="#">
              <div class="col-md-2 col-sm-3">
                <img src="" alt="" />
              </div>
              <div class="col-md-8 col-sm-8">
                22/03/2013
                <h3>Uso de conhecimento científico na autogestão de riscos em DSTs</h3>
                Interface – Comunicação Saúde Educação traz artigo que aborda as Doenças Sexualmente Transmissíveis HIV/AIDS voltado principalmente para homens que fazem sexo com homens. George Moraes de Luis, psicólogo social e pesquisador da PUC/SP, salienta que cada vez mais os homens pesquisam em fontes estrangeiras formas para se proteger, pois "os debates no exterior são mais francos, abertos, enquanto aqueles que ocorrem no Brasil prezam pela cautela na divulgação de informações que ainda estão em fase de estudo".  <strong>{% trans %}Continue lendo{% endtrans %} »</strong>
              </div>
              <div class="clearfix"></div>
            </a>

            <a href="#">
              <div class="col-md-2 col-sm-3">
                <img src="" alt="imagem de noticia" />
              </div>
              <div class="col-md-8 col-sm-8">
                05/02/2013
                <h3>Entrevista com Nikos Salíngaros</h3>
                Nikos Salíngaros, físico da Universidade do Texas e indicado como um dos 100 mais destacados pensadores urbanos pelo Planetizen, em entrevista concedida a urbe. Revista Brasileira de Gestão Urbana, fala como se interessou pelo projeto urbano e arquitetura, critica o desconstrutivismo na arquitetura e comenta sobre sua ligação com o novo urbanismo. <strong>{% trans %}Continue lendo{% endtrans %} »</strong>
              </div>
              <div class="clearfix"></div>
            </a>

          </div>
          <div class="clearfix"></div>
        </div>
        {# /news #}
      </div>
    </div>
  </section>

  {% include "journal/includes/license_footer.html" %}

  {% include "journal/includes/contact_footer.html" %}

{% endblock %}
