{% extends "base.html" %}

{% block content %}
<style type="text/css">
  .msg { margin-top: 25% }
  .msg img {
    display: block;
    margin: 0 auto;
  }
  .center-block {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
</style>
  <div class="container">
    <div class="row-fluid">
      <div class="col-md-6 col-md-offset-3">
        <div class="msg clearfix">
          <div class="center-block">
            <img class="img-responsive" class="image" src="{{ url_for('static', filename='img/logo-scielo-signature.png') }}">
            <h2 class="text-center">
              {% block error_message %}
                {% trans %}Erro{% endtrans %}
              {% endblock %}
            </h2>
            <p>
                <ul>
                    <li>{% trans %}Certifique-se de ter o endereço correto{% endtrans %}.</li>
                    <li>{% trans %}Certifique-se de ter obtido o endereço de fontes especializadas em publicações científicas{% endtrans %}.</li>
                    <li>{% trans %}Para localizar um artigo científico, consulte <a href="//search.scielo.org">search.scielo.org</a>{% endtrans %}.</li>
                </ul>
            </p>
            <p>{% trans %}Se o problema persistir, entre em contato com o administrador{% endtrans %} <a href="mailto:{{config.WEBMASTER_EMAIL}}">{{config.WEBMASTER_EMAIL}}</a>, {% trans %}informando{% endtrans %}:</p>
            <p>
                <ul>
                    <li>{% trans %}imagem da tela de onde o endereço foi obtido{% endtrans %}</li>
                    <li>{% trans %}título do periódico{% endtrans %}</li>
                    <li>{% trans %}título do artigo{% endtrans %}</li>
                    <li>{% trans %}nomes dos autores{% endtrans %}</li>
                    <li>{% trans %}outros dados que julgar relevantes{% endtrans %}</li>
                </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
