{% import 'macros/images.html' as cimages %}
{% import 'macros/collection.html' as coll_macro %}

<div class="alternativeHeader">
  <div class="container">
    <div class="col-md-2 col-sm-3 mainNav">
      <a href="#" class="menu" data-rel="#alternativeMainMenu" title="{% trans %}Abrir menu{% endtrans %}">{% trans %}Abrir menu{% endtrans %}</a>
      
      {% if coll_macro.get_image() != "None" %}
      <h2 class="logo-svg-mini">
        <a href="/" title="{% trans %}Ir para a homepage da coleção: {% endtrans %}{{ coll_macro.get_collection_name() }}"  style="background:url({{ coll_macro.get_image() }}); background-position: 0px; background-repeat: no-repeat;">
          <span class="logo-collection logo-collection-svg-mini"><strong>{{ coll_macro.get_collection_name() }}</strong></span>
        </a>
      </h2>    
      {% else %}
      <h2 class="logo-svg-mini">
        <a href="/" title="{% trans %}Ir para a homepage da coleção: {% endtrans %}{{ coll_macro.get_collection_name() }}">
          <span class="logo-collection logo-collection-svg-mini"><strong>{{ coll_macro.get_collection_name() }}</strong></span>
        </a>
      </h2>    
      {% endif %}
      
      <div class="mainMenu" id="alternativeMainMenu">
        <div class="row">
          
          {% if coll_macro.get_image() != "None" %}
            <div class="col-md-7 col-md-offset-2 col-sm-7 col-sm-offset-2 logo logo-svg" style="background:url({{ coll_macro.get_image() }}); background-position: 0px; background-repeat: no-repeat;"></div>
          {% else %}
            <div class="col-md-7 col-md-offset-2 col-sm-7 col-sm-offset-2 logo logo-svg"></div>     
          {% endif %}
        </div>
        <nav>
          <ul>
          </ul>
        </nav>
      </div>
    </div>
    <div class="col-md-6 col-sm-5 journalInfo">
      <ul>
        <li>
          <a href="{{ url_for('.journal_detail', url_seg=journal.url_segment) }}" class="dropdown-toggle" data-toggle="dropdown">
            {{ journal.title }} <span class="glyphBtn grayArrowDown"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">
              {% trans %}Número atual{% endtrans %}:
            </li>
            <li>
                <strong>
                  <a href="{{ url_for('.issue_toc', url_seg=journal.url_segment, url_seg_issue=last_issue.url_segment) }}">
                    {% if latest_issue_legend %}
                      {{ latest_issue_legend|default('--', True) }}
                    {% elif issue_legend %}
                      {{ issue_legend|default('--', True) }}
                    {% endif %}
                  </a>
                </strong>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-md-4 col-md-5 menuItens">
      <ul>
        <li>
          <a href="{{ url_for('.journal_detail', url_seg=journal.url_segment) }}" class="showTooltip" data-placement="bottom" title="{% trans %}Homepage do periódico{% endtrans %}">
            <span class="glyphBtn home"></span>
          </a>
        </li>
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="glyphBtn numbers"></span>
          </a>
          <ul class="dropdown-menu" role="menu">

            <li class="dropdown-header">
              {% trans %}Números{% endtrans %}
            </li>

            {# Grid #}
            <li>
              <a href="{{ url_for('.issue_grid', url_seg=journal.url_segment) }}">
                &bull; {% trans %}todos{% endtrans %}
              </a>
            </li>

            {# Anterior #}
            <li>
              <a title="{% trans %}anterior{% endtrans %}" href="{{ url_for('.issue_toc', url_seg=journal.url_segment, url_seg_issue=issue.url_segment, goto='previous') }}">
                &laquo; {% trans %}anterior{% endtrans %}
              </a>
            </li>

            {# Atual #}
            <li class="{% if not last_issue %} disabled {% endif %}">
              <a title="{% trans %}atual{% endtrans %}" href="{% if last_issue %}{{ url_for('.issue_toc', url_seg=journal.url_segment, url_seg_issue=last_issue.url_segment) }}{% endif %}">
                {% trans %}atual{% endtrans %}
              </a>
            </li>

            {# Próximo #}
            <li class="{% if issue.url_segment == last_issue.url_segment %} disabled {% endif %}">
              <a title="{% trans %}próximo{% endtrans %}" href="{% if issue.url_segment != last_issue.url_segment %}{{ url_for('.issue_toc', url_seg=journal.url_segment, url_seg_issue=issue.url_segment, goto='next') }}{% else %}#{% endif %}">
                {% trans %}próximo{% endtrans %} &raquo;
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="{{ config.URL_SEARCH }}?q=*&lang={% if session.lang %}{{ session.lang[:2] }}{% endif %}&filter[journal_title][]={% if journal.title %}{{ journal.title }}{% endif %}" class="showTooltip" data-placement="bottom" title="{% trans %}Buscar{% endtrans %}">

            <span class="glyphBtn search"></span>
          </a>
        </li>
        <li>
          {% if journal.scielo_issn or journal.eletronic_issn or journal.print_issn %}
            <a target="_blank" href="{{ config.METRICS_URL }}/?journal={{ journal.scielo_issn or journal.eletronic_issn or journal.print_issn }}&collection={{ config.OPAC_COLLECTION }}" class="showTooltip" data-placement="bottom" title="{% trans %}Métricas{% endtrans %}">
              <span class="glyphBtn metrics"></span>
            </a>
          {% else %}
            <a target="_blank" href="{{ config.METRICS_URL }}/?collection={{ config.OPAC_COLLECTION }}" class="showTooltip" data-placement="bottom" title="{% trans %}Métricas{% endtrans %}">
              <span class="glyphBtn metrics"></span>
            </a>
          {% endif %}
        </li>
        <li>
          <a href="" class="dropdown-toggle" data-toggle="dropdown">
            <span class="glyphBtn contents"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">
              {% trans %}Periódico{% endtrans %}
            </li>
            {% if journal.online_submission_url and journal.current_status == 'current' %}
              <li>
                <a href="{{ journal.online_submission_url|default('', true) }}" target="_blank">
                  <span class="glyphBtn submission"></span> {% trans %}Submissão de manuscritos{% endtrans %}
                </a>
              </li>
            {% endif %}
            <li>
              <a href="{{ url_for('.about_journal', url_seg=journal.url_segment) }}#about">
                <span class="glyphBtn about"></span> {% trans %}Sobre o periódico{% endtrans %}
              </a>
            </li>
            <li>
              <a href="{{ url_for('.about_journal', url_seg=journal.url_segment) }}#editors">
                <span class="glyphBtn authorInstructions"></span> {% trans %}Corpo Editorial{% endtrans %}
              </a>
            </li>
            <li>
              <a href="{{ url_for('.about_journal', url_seg=journal.url_segment) }}#instructions">
                <span class="glyphBtn authorInstructions"></span> {% trans %}Instruções aos autores{% endtrans %}
              </a>
            </li>
            <li>
              <a href="{{ url_for('.about_journal', url_seg=journal.url_segment) }}#contact">
                <span class="glyphBtn contact"></span> {% trans %}Contato{% endtrans %}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
