<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
            <h4 class="modal-title">{% trans %} Reportar erro {% endtrans %}</h4>
        </div>

        <form action="" method="POST" id="error_form_id">

            {{ g.error.csrf_token() }}

            {{ g.error.url(value=url) }}

            {{ g.error.page_title(value="") }}


            <div class="modal-body">

                <div class="form-group">
                    <label class="control-label">{% trans %}Seu Nome{% endtrans %}*</label>
                    {{ g.error.name(class="form-control valid", placeholder=_("Digite seu Nome")) }}
                    <label class="control-label" id="{{g.error.name.name}}_error"></label>
                </div>

                <div class="form-group">
                  <label class="control-label">{% trans %}Seu e-mail{% endtrans %}*</label>
                    {{ g.error.your_email(class="form-control valid", placeholder="Digite seu e-mail") }}
                    <label class="control-label" id="{{g.error.your_email.name}}_error"></label>
                </div>

                <div class="form-group">
                    <label class="control-label">{% trans %}Erro referente{% endtrans %}:</label>

                    <div class="radio" style="margin-top:0;">
                        <label><input type="radio" name="error_type" value="content" checked>{% trans %}ao conteúdo{% endtrans %}</label>
                    </div>

                    <div class="radio">
                        <label><input type="radio" name="error_type" value="application">{% trans %}à aplicação{% endtrans %}</label>
                    </div>

                    <label class="control-label" id="{{g.error.error_type.name}}_error"></label>
                </div>

                <div class="form-group">
                    <label class="control-label">{% trans %}Descrição do erro{% endtrans %} :</label>
                    {{ g.error.message(class="form-control valid", placeholder=_("Digite sua mensagem"), rows="10") }}
                    <label class="control-label" id="{{g.error.message.name}}_error"></label>
                    <span class="info-form">{% trans %}Obs.: Link e título da página são enviados automaticamente{% endtrans %}.</span>
                </div>

                <div class="form-group">
            <div id="error_captcha_id"></div>
            </div>

            </div>

            <div class="modal-footer">
                <div class="btn-block">
                    <input type="submit" name="s" value="{% trans %}Enviar{% endtrans %} " class="btn" id="error_submit_btn_id">
                </div>
            </div>

        </form>
    </div>
</div>

<script>

  $('#page_title').val(document.title);

  var error_form = Object.create(ModalForms);

  error_form.init(
    "#error_modal_id",
    "#error_form_id",
    "{{ url_for('main.email_error_ajax') }}",
    "POST",
    "#error_submit_btn_id",
    true,
    "{{ config.get('GOOGLE_RECAPTCHA_SECRET_KEY') }}",
    "error_captcha_id",
    "light",
    "#error_modal_confirm_id",
    "{% trans %}Email de erro enviado com sucesso.{% endtrans %}",
    "{% trans %}Erro ao tentar enviar e-mail, por favor tente mais tarde.{% endtrans %}"
  );

</script>
