{% import 'macros/resources.html' as mresources %}

<footer>
  <div class="collectionSignature">
    <div class="container">
      <div class="col-md-2 col-sm-2">
        <img src="{{ g.collection.footer_resource or '#' }}" class="image" alt="Logo SciELO" />
      </div>
      <div class="col-md-8 col-sm-9">
        <strong>SciELO - Scientific Electronic Library Online</strong><br/>
        {{ g.collection.address1 or '' }}<br/>
        {{ g.collection.address2 or '' }}
      </div>
    </div>
  </div>
  {% if g.collection and g.collection.sponsors %}
    <div class="partners">
      {% for sponsor in g.collection.sponsors %}
        {% if sponsor.url and sponsor.logo_url %}
          <a href="{{ sponsor.url }}" target="_blank">
            {% if sponsor.logo_url %}
                <img src="{{ sponsor.logo_url }}" alt="{{ sponsor.name }}">
            {% else %}
                {{ sponsor.name }}
            {% endif %}
          </a>
        {% elif sponsor.logo_url %}
          <img src="{{ sponsor.logo_url }}" alt="{{ sponsor.name }}">
        {% else %}
          {{ sponsor.name }}
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}

  <div class="container collectionLicense">
      {% if g.collection.license != '' %}
          <a href="https://creativecommons.org/licenses/{{ g.collection.license|lower }}/" target="_blank">
              <img alt="Creative Commons License" style="border-width:0" class="image" src="https://i.creativecommons.org/l/{{ g.collection.license|lower }}/88x31.png" />
              <span>
                  {% trans host=request.headers['Host'] %}Todo o conteúdo de {{ host }}, exceto onde está identificado, está licenciado sob uma Licença Creative Commons.{% endtrans %}<br/>
                  <strong>{% trans %}saiba mais{% endtrans %} »</strong>
              </span>
          </a>
      {% else %}
        {% trans %}[Deve definir uma licencia para a coleção]{% endtrans %}
      {% endif %}
  </div>

</footer>
