<footer>
  <div class="collectionSignature">
    <div class="container">
      <div class="col-md-2 col-sm-2">
        <img src="{{ g.collection.logo_footer or '' }}" class="image" alt="Logo SciELO" />
      </div>
      <div class="col-md-8 col-sm-9">
        <strong>SciELO - Scientific Electronic Library Online</strong><br/>
        {{ g.collection.address1 or '' }}<br/>
        {{ g.collection.address2 or '' }}
      </div>
    </div>
  </div>
  {% if g.collection and g.collection.sponsors %}
    <div class="partners">
      {% for sponsor in g.collection.sponsors %}
        {% if sponsor.url and sponsor.logo_url %}
          <a href="{{ sponsor.url }}" target="_blank">
            {% if sponsor.logo_url %}
                <img src="{{ sponsor.logo_url }}" alt="{{ sponsor.name }}">
            {% else %}
                {{ sponsor.name }}
            {% endif %}
          </a>
        {% elif sponsor.logo_url %}
          <img src="{{ sponsor.logo_url }}" alt="{{ sponsor.name }}">
        {% else %}
          {{ sponsor.name }}
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}

  <div class="container collectionLicense">
      <a href="{{ url_for('.about_collection') }}">
          <img alt="Open Access" style="border-width:0" class="image" src="{{ url_for('static', filename='img/oa_logo_32.png') }}" />
      </a>
  </div>

</footer>
