
  <div class="modal fade ModalDefault" id="metric_modal_id" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
          <h4 class="modal-title">Metricas</h4>
        </div>
        <div class="modal-body">
          <div class="modal-metrics">
              <div class="row">
                {% if article %}
                    <div class="badge-link col-center">
                      <a target="_blank" href="{{ config.METRICS_URL }}/w/accesses?document={{ article.pid }}&amp;collection={{ config.OPAC_COLLECTION }}" >
                          <div class="logo-statistc logo-statistc-scielo"></div>
                          <div>Scielo Analytics</div>
                      </a>
                    </div>
                    {% if config.DIMENSIONS_METRICS %}
                    <div class="badge-link col-center">
                        <div class="logo-statistc">
                            <span class="__dimensions_badge_embed__"
                                  data-doi="{{ article.doi }}"
                                  data-legend="never"
                                  data-style="small_circle">
                            </span>
                            <script type="text/javascript"
                                    src="https://badge.dimensions.ai/badge.js"
                                    charset="utf-8" async>
                            </script>
                        </div>
                        <div>Dimensions</div>
                    </div>
                    {% endif %}
                    {% if config.PLUMX_METRICS_URL %}
                    <div class="badge-link col-center">
                        <div class="logo-statistc">
                            <a href="{{ config.PLUMX_METRICS_URL }}/?doi={{ article.doi }}"
                               data-popup="hidden"
                               data-size="large"
                               class="plumx-plum-print-popup"
                               data-site="scielo">
                               {{ article.title }}
                            </a>
                            <script type="text/javascript"
                                    src="https://d39af2mgp1pqhg.cloudfront.net/widget-popup.js">
                            </script>
                        </div>
                        <div>PlumX</div>
                    </div>
                    {% endif %}
                {% else %}
                    <div class="badge-link col-center">
                      <a target="_blank" href="{{ config.METRICS_URL }}/?collection={{ config.OPAC_COLLECTION }}" >
                          <div class="logo-statistc logo-statistc-scielo"></div>
                          <div>Scielo Analytics</div>
                      </a>
                    </div>
                {% endif %}
              </div>

          </div>
        </div>

      </div>
    </div>
  </div>
