
  <div class="modal fade ModalDefault" id="metric_modal_id" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
          <h4 class="modal-title">Metricas</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-4 col-center" style="text-align:center">
              <a target="_blank" href="{{ config.METRICS_URL }}/?collection={{ config.OPAC_COLLECTION }}" >
                  <div class="logo-statistc logo-statistc-scielo"></div>
                  <div>Scielo Analytics</div>
              </a>
            </div>
            <div class="col-md-4 col-center" style="text-align:center">
              <a href="">
                <div class="logo-statistc logo-statistc-dimension"></div>
                <div>Dimension Badge</div>
              </a>
            </div>
            <div class="col-md-4 col-center" style="text-align:center">
              <a href="">
                <div class="logo-statistc logo-statistc-plumx"></div>
                <div>PlumX</div>
              </a>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
