{% import 'macros/images.html' as cimages %}

<header>
  <div class="container">
    <div class="topFunction">
      <div class="col-md-3 col-sm-4 mainNav">
          <a href="#" class="menu" data-rel=".mainMenu" title="Abrir menu">{% trans %}Abrir menu{% endtrans %}</a>
          <div class="mainMenu">
          {% include "collection/includes/nav.html" %}
        </div>
      </div>
      <div class="col-md-6 col-sm-4 brandLogo">
        <h1 class="logo-svg-legenda">
          <a href="/">
            <small>{{ g.collection.name or _('NOME DA COLEÇÃO!!') }}</small>
            <span>Scientific Electronic Library Online</span>
          </a>
        </h1>
      </div>
      <div class="col-md-3 col-sm-4 language">
        {% include "includes/language.html" %}
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</header>
