<div class="row collectionListSearch">
  <div class="col-md-12 col-sm-12">

    <div class="input-group">

      <input type="text" name="{{ input_id|default('query') }}"
             id="{{ input_id|default('query') }}"
             value=""
             class="form-control collectionSearch"
             placeholder="Digite uma ou mais palavras para filtrar a lista"/>

      <span class="input-group-addon">
        <input type="radio" name="{{ filter_id|default('query_filter') }}" value="" checked="checked">
        {% trans %}Todos{% endtrans %}
      </span>
      <span class="input-group-addon">
        <input type="radio" name="{{ filter_id|default('query_filter') }}" value="current">
        {% trans %}Títulos correntes{% endtrans %}
      </span>
      <span class="input-group-addon">
        <input type="radio" name="{{ filter_id|default('query_filter') }}" value="no-current">
        {% trans %}Títulos não-correntes{% endtrans %}
      </span>
    </div>
  </div>
</div>
