<div class="row collectionListSearch">
  <div class="col-md-5 col-sm-12">
    <div class="btn-group" data-toggle="buttons">
      <label class="btn">
        <input type="radio" autocomplete="off" name="{{ filter_id|default('query_filter') }}" value="">{% trans %}Todos{% endtrans %}
      </label>
      <label class="btn active">
        <input type="radio" name="{{ filter_id|default('query_filter') }}" value="current" checked="checked" autocomplete="off">
          <span class="lbl-corrente">{% trans %}Periódicos ativos{% endtrans %}</span>
      </label>
      <label class="btn">
        <input type="radio" name="{{ filter_id|default('query_filter') }}" value="no-current" autocomplete="off">
          <span class="lbl-nao-corrente">{% trans %}Periódicos descontinuados{% endtrans %}</span>
      </label>
    </div>
  </div>

  <div class="col-md-5 col-md-offset-2 col-sm-12 col-sm-offset-0 col-sm-mt-15">

    <input type="text" name="{{ input_id|default('query') }}"
           id="{{ input_id|default('query') }}"
           value=""
           class="form-control collectionSearch"
           placeholder="{% trans %}Digite uma ou mais palavras para filtrar a lista{% endtrans %}"/>

  </div>

</div>
