<div class="row collectionListSearch">
  <div class="col-md-6">
    <div class="btn-group">
      <input id="all_{{filter_id}}" type="radio" class="btn-radio-group" name="{{ filter_id|default('query_filter') }}" value="" checked="checked">
      <label for="all_{{filter_id}}" class="btn btn-radio-group">{% trans %}Todos{% endtrans %}</label>

      <input id="current_{{filter_id}}" type="radio" class="btn-radio-group" name="{{ filter_id|default('query_filter') }}" value="current">
      <label for="current_{{filter_id}}" class="btn btn-radio-group">{% trans %}Títulos correntes{% endtrans %}</label>

      <input id="no_current_{{filter_id}}" type="radio" class="btn-radio-group" name="{{ filter_id|default('query_filter') }}" value="no-current">
      <label for="no_current_{{filter_id}}" class="btn btn-radio-group">{% trans %}Títulos não-correntes{% endtrans %}</label>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">

      <input type="text" name="{{ input_id|default('query') }}"
             id="{{ input_id|default('query') }}"
             value=""
             class="form-control collectionSearch"
             placeholder="{% trans %}Digite uma ou mais palavras para filtrar a lista{% endtrans %}"/>
  </div>
</div>