<nav>
  <ul>
    <li>
      <a href="{{ url_for('.index') }}">
        <strong>{{ g.collection.name or _('NOME DA COLEÇÃO!!') }}</strong>
      </a>
      <ul>
          <li>
            <a href="{{ url_for('.collection_list') }}#alpha" class="tab_link">
              {% trans %}Lista alfabética de periódicos{% endtrans %}
            </a>
          </li>
          <li>
            <a href="{{ url_for('.collection_list') }}#theme" class="tab_link">
              {% trans %}Lista temática de periódicos{% endtrans %}
            </a>
          </li>
          <li>
            <a href="{{ config.URL_SEARCH }}?q=*&lang={% if session.lang %}{{ session.lang[:2] }}{% endif %}&filter[in][]={{config.OPAC_COLLECTION}}">
              {% trans %}Busca{% endtrans %}
            </a>
          </li>
          <li>
            <a target="_blank" href="{{ config.METRICS_URL }}/?collection={{ config.OPAC_COLLECTION }}">
              {% trans %}Métricas{% endtrans %}
            </a>
          </li>
          <li>
            <a href="{{ url_for('.about_collection') }}">
              {% trans %}Sobre:{% endtrans %} {{ g.collection.name or _('NOME DA COLEÇÃO!!') }}
            </a>
          </li>
          <li>
            <a href="{{ url_for('.about_collection') }}">
              {% trans %}Contatos{% endtrans %}
            </a>
          </li>
      </ul>
    </li>
    <li>
      <a href="#">
        <strong>{% trans %}SciELO.org - Rede SciELO{% endtrans %}</strong>
      </a>
      <ul>
        <li>
          <a href="http://www.scielo.org/php/index.php">
            {% trans %}Coleções nacionais e temáticas{% endtrans %}
          </a>
        </li>
        <li>
          <a href="http://www.scielo.org/applications/scielo-org/php/secondLevel.php?xml=secondLevelForAlphabeticList&xsl=secondLevelForAlphabeticList">
            {% trans %}Lista alfabética de periódicos{% endtrans %}
          </a>
        </li>
        <li>
          <a href="http://www.scielo.org/applications/scielo-org/php/secondLevel.php?xml=secondLevelForSubjectByLetter&xsl=secondLevelForSubjectByLetter">
            {% trans %}Lista de periódicos por assunto{% endtrans %}
          </a>
        </li>
        <li>
          <a href="{{ config.URL_SEARCH }}">
            {% trans %}Busca{% endtrans %}
          </a>
        </li>
        <li>
          <a target="_blank" href="{{ config.METRICS_URL }}">
            {% trans %}Métricas{% endtrans %}
          </a>
        </li>
        <li>
          <a href="http://www.scielo.org/php/level.php?lang=pt&component=56&item=9">
            {% trans %}Acesso OAI e RSS{% endtrans %}
          </a>
        </li>
        <li>
          <a href="http://www.scielo.org/php/level.php?lang=pt&component=56&item=8">
            {% trans %}Sobre a Rede SciELO{% endtrans %}
          </a>
        </li>
        <li>
          <a href="#">
            {% trans %}Contatos{% endtrans %}
          </a>
        </li>
      </ul>
    </li>
    <li>
      {% if session.lang == 'pt_BR' %}
        <a href="http://blog.scielo.org/">
      {% else  %}
        <a href="http://blog.scielo.org/{{ session.lang }}/">
      {% endif %}
          <strong>{% trans %}Blog SciELO em Perspectiva{% endtrans %}</strong>
        </a>
    </li>
  </ul>
</nav>
