{% import 'macros/collection.html' as coll_macro %}

<nav>
  <ul>
    <li>
      <a href="{{ url_for('.index') }}">
        <strong>{{ coll_macro.get_collection_name() }}</strong>
      </a>
      <ul>
          <li>
            <a href="{{ url_for('.collection_list') }}?status=current" class="tab_link">
              {% trans %}Lista alfabética de periódicos{% endtrans %}
            </a>
          </li>
          <li>
            <a href="{{ url_for('.collection_list_thematic') }}?status=current" class="tab_link">
              {% trans %}Lista temática de periódicos{% endtrans %}
            </a>
          </li>
          <li>
            <a href="{{ config.URL_SEARCH }}?q=*&lang={% if session.lang %}{{ session.lang[:2] }}{% endif %}&filter[in][]={{config.OPAC_COLLECTION}}">
              {% trans %}Busca{% endtrans %}
            </a>
          </li>
          <li>
            <a target="_blank" href="{{ config.METRICS_URL }}/?collection={{ config.OPAC_COLLECTION }}">
              {% trans %}Métricas{% endtrans %}
            </a>
          </li>
          <li>
            <a href="{{ url_for('.about_collection') }}">
              {% trans %}Sobre:{% endtrans %} {{ coll_macro.get_collection_name() }}
            </a>
          </li>
          <li>
            <a href="{{ url_for('.about_collection') }}">
              {% trans %}Contatos{% endtrans %}
            </a>
          </li>
      </ul>
    </li>
    <li>
      <a href="#">
        <strong>{% trans %}SciELO.org - Rede SciELO{% endtrans %}</strong>
      </a>
      <ul>
        <li>
          <a target="_blank" href="{{ config.URL_SCIELO_ORG }}">
            {% trans %}Coleções nacionais e temáticas{% endtrans %}
          </a>
        </li>
        <li>
          <a target="_blank" href="{{ config.URL_SCIELO_ORG }}{{ g.scielo_org.journals_by_title }}">
              {% trans %}Lista alfabética de periódicos{% endtrans %}
          </a>
        </li>
        <li>
          <a target="_blank" href="{{ config.URL_SCIELO_ORG }}{{ g.scielo_org.journals_by_subject }}">
              {% trans %}Lista de periódicos por assunto{% endtrans %}
          </a>
        </li>
        <li>
          <a target="_blank" href="{{ config.URL_SEARCH }}">
            {% trans %}Busca{% endtrans %}
          </a>
        </li>
        <li>
          <a target="_blank" href="{{ config.METRICS_URL }}">
            {% trans %}Métricas{% endtrans %}
          </a>
        </li>
        <li>
          <a target="_blank" href="{{ config.URL_SCIELO_ORG }}{{ g.scielo_org.oai_and_rss }}">
              {% trans %}Acesso OAI e RSS{% endtrans %}
          </a>
        </li>
        <li>
          <a target="_blank" href="{{ config.URL_SCIELO_ORG }}{{ g.scielo_org.about_network }}">
              {% trans %}Sobre a Rede SciELO{% endtrans %}
          </a>
        </li>
        <li>
          <a target="_blank" href="{{ config.URL_SCIELO_ORG }}{{ g.scielo_org.contact }}">
            {% trans %}Contatos{% endtrans %}
          </a>
        </li>
      </ul>
    </li>
    <li>
      {% if session.lang == 'pt_BR' %}
        <a target="_blank" href="{{ config.URL_BLOG_SCIELO }}">
      {% else  %}
        <a target="_blank" href="{{ config.URL_BLOG_SCIELO }}/{{ session.lang }}/">
      {% endif %}
          <strong>{% trans %}Blog SciELO em Perspectiva{% endtrans %}</strong>
        </a>
    </li>
  </ul>
</nav>
