<tr>
  <td class="actions">
    <a data-toggle="tooltip" href="<%- journal.links.detail %>" title="{% trans %}Homepage{% endtrans %}">
      <span class="glyphBtn home"></span>
    </a>
    <% if (journal.is_active) { %>
      <a data-toggle="tooltip" href="<%- journal.links.submission %>" title="{% trans %}Submissão de manuscritos{% endtrans %}" target="_blank">
        <span class="glyphBtn submission"></span>
      </a>
      <a data-toggle="tooltip" href="<%- journal.links.instructions %>" title="{% trans %}Instruções aos autores{% endtrans %}">
        <span class="glyphBtn authorInstructions"></span>
      </a>
      <a data-toggle="tooltip" href="<%- journal.links.about %>" title="{% trans %}Sobre o periódico{% endtrans %}">
        <span class="glyphBtn about"></span>
      </a>
      <a data-toggle="tooltip" href="<%- journal.links.contact %>" title="{% trans %}Contato{% endtrans %}">
        <span class="glyphBtn contact"></span>
      </a>
    <% } %>
  </td>
  <td>
    <a title="{% trans %}Título do periódico{% endtrans %}"
       class="collectionLink <% if (!journal.is_active) { %> disabled <% } %>" href="<%- journal.links.detail %>">
      <strong class="journalTitle"><%- journal.title %></strong>,
    </a>
    <a title="{% trans %}Grade de número{% endtrans %}"
       href="<%- journal.links.issue_grid %>">
      <strong class="journalIssues"><%- journal.issues_count %> {% trans %}números{% endtrans %}</strong>,
    </a>

    <% if (journal.last_issue) { %>
      <a href="/<%- journal.last_issue.url_segment %>"
        title="{% trans %}Número mais recente{% endtrans %}">
        {% trans %}Último{% endtrans %}:
        <span class="last-issue-legend"><%- journal.last_issue.legend %></span>
      </a>
    <% } %>

    <% if (!journal.is_active) { %>({% trans %}descontinuado{% endtrans %})<% } %>

    <% if (journal.previous_journal_ref) { %>
      <span class="journalPreviousTitle">{% trans %}Continua como {% endtrans %}</span><%- journal.previous_journal_ref %>
    <% } %>

  </td>
</tr>
