<div class="collectionListTable">
  <table>
    <thead>
      <tr>
        <th>
          <div class="col-xs-6">
            <%- main_label %>
            <small class="collectionListTotalInfo">
              (total <%= data.meta.themes_count %> <%- grouper_name_plural %>
              <%= data.meta.total %> {% trans %}periódicos{% endtrans %})
            </small>
          </div>
          <div class="col-xs-6 right download">
            {% trans %}download da lista{% endtrans %}
            <a data-toggle="tooltip" class="collectionListDownloadXLS" href="#" title="{% trans %}Lista em arquivo para Excel{% endtrans %}">
              <span class="glyphBtn downloadXLS"></span>
            </a>
            <a data-toggle="tooltip" class="collectionListDownloadCSV" href="#" title="{% trans %}Lista em arquivo CSV{% endtrans %}">
              <span class="glyphBtn downloadCSV"></span>
            </a>
          </div>
        </th>
      </tr>
    </thead>
    <tbody id="collection_list_table_body_container">
      <% _.each( _.pairs(data.objects), function( theme_items ){ %>
        <%= _.template($('#{{ template_collection_list_table_body_id }}').html())({'theme_items': theme_items}) %>
      <%})%>
    </tbody>
  </table>
</div>
