<div class="slide-item release">
  <div class="col-md-12">
    <a href="https://twitter.com/{{ tweet.screen_name }}/status/{{ tweet.id }}" target="_blank">
      {% if tweet.media_url_https %}
        <div class="slide-header" style="background-image:url({{ tweet.media_url_https }})"></div>
      {% else %}
        <div class="slide-header" style="background-image:url({{ url_for('static', filename='img/placeholder.jpg') }})"></div>
      {% endif %}
      <div class="info">
        {% autoescape false %}

          {{ tweet.full_text|truncate(150) }}

        {% endautoescape %}
      </div>
    </a>
  </div>
</div>
