
<footer>
    <div class="collectionSignature">
        <div class="container">
            <div class="col-md-2 col-sm-2">
                <img src="../static/img/logo-scielo-signature.png" alt="Logo SciELO" />
            </div>
            <div class="col-md-8 col-sm-9">
                <strong>SciELO - Scientific Electronic Library Online</strong><br/>
                Av. Onze de Junho, 269 - Vila Clementino 04041-050 São Paulo SP - Brasil<br/>
                Tel.: (55 11) 5083-3639 - Email: scielo@scielo.org
            </div>
        </div>
    </div>
    <div class="partners">
        <a href="http://www.fapesp.br/" target="_blank"><img src="../static/img/partner-fapesp.png" alt="FAPESP"></a>
        <a href="http://www.cnpq.br/" target="_blank"><img src="../static/img/partner-cnpq.png" alt="CNPQ"></a>
        <a href="http://regional.bvsalud.org/php/index.php?lang=pt" target="_blank"><img src="../static/img/partner-bvs.png" alt="Biblioteca Virtual em Saúde"></a>
        <a href="http://regional.bvsalud.org/bvs/bireme/homepage.htm" target="_blank"><img src="../static/img/partner-bireme.png" alt="BIREME - OPAS - OMS"></a>
        <img src="../static/img/partner-fap.png" alt="FAP UNIFESP">
    </div>
    <div class="container collectionLicense">
        <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank">
            <img src="../static/img/cc-license.png" alt="Creative Common - BY" />
            <span>
                Todo o conteúdo de www.scielo.br, exceto onde está identificado, está licenciado sob uma Licença Creative Commons.<br/>
                <strong>saiba mais »</strong>
            </span>
        </a>

    </div>
</footer>