{% import 'macros/collection.html' as coll_macro %}
<!DOCTYPE html>

{% with html_lang=session.get('lang', config.get('BABEL_DEFAULT_LOCALE')).replace('_', '-')  %}
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ html_lang }}" {% block ie7_extra_namespaces %}{% endblock %} > <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="{{ html_lang }}"        {% block ie8_extra_namespaces %}{% endblock %}> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9" lang="{{ html_lang }}"               {% block ie9_extra_namespaces %}{% endblock %}> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js" lang="{{ html_lang }}" {% block extra_namespaces %}{% endblock %}> <!--<![endif]-->
{% endwith %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">

    {% block extra_meta %}{% endblock %}

    <title>SciELO - {% block title %}{{ coll_macro.get_collection_name() }}{% endblock %}</title>

    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/scielo-bundle.css') }}?v={{ config.VCS_REF }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/scielo-bundle-print.css') }}?v={{ config.VCS_REF }}" media="print">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ url_for('static', filename='js/vendor/html5-3.6-respond-1.1.0.min.js') }}"></script>
    <![endif]-->

    {% if not config.DEBUG and config.GA_TRACKING_CODE %}
    <!-- Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ config.GA_TRACKING_CODE }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ config.GA_TRACKING_CODE }}');
      </script>
      <!-- End Google Analytics -->
    {% endif %}

    {% block extra_css %}{% endblock %}

  </head>
  <body class="{% block body_class %}{% endblock %}">
    <a name="top"></a>

    {% block content %}{% endblock %}

    <!-- share modal -->
    <div class="modal fade" id="share_modal_id" tabindex="-1" role="dialog" aria-hidden="true"></div>

    <div class="modal fade in" id="share_modal_confirm_id" tabindex="-1" role="dialog" aria-hidden="false">
      <div class="modal-dialog modal-sm">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title">Mensagem</h4>
              </div>
              <div class="modal-body">
                  <div class="midGlyph">

                      <br><br>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <!-- share modal -->

    <!-- error modal -->
    <div class="modal fade" id="error_modal_id" tabindex="-1" role="dialog" aria-hidden="true"></div>

    <div class="modal fade in" id="error_modal_confirm_id" tabindex="-1" role="dialog" aria-hidden="false">
      <div class="modal-dialog modal-sm">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title">Mensagem</h4>
              </div>
              <div class="modal-body">
                  <div class="midGlyph">
                  </div>
              </div>
          </div>
      </div>
    </div>

    <a class="floatingBtnError" href="#" id="#floatingBtnError"></a>
    <!-- error modal -->

    <script src="{{ url_for('static', filename='js/scielo-bundle-min.js') }}"></script>

    {% if config.COOKIE_POLICY_ENABLED %}
      <script src="{{ config.COOKIE_POLICY_URL }}"></script>
    {% endif %}

    <script src="{{ config.GOOGLE_RECAPTCHA_URL }}"></script>

    {% block extra_js %}{% endblock %}

    <script>

      // Garante que o valor do campo share_url é a URL corrente.
      $('#share_url').val(window.location.href);

      moment.locale('{{ session.lang }}');

      $("#date").text(moment().format("L HH:mm:ss ZZ"));

    </script>

    {% if config.DEBUG %}

      <style type="text/css">

        .bugherd {
          position: fixed;
          bottom: 0;
          width: 15%;
          height: 40px;
          right: 0;
          z-index:999999;
        }
        .bugherd-container {
          width: auto;
          max-width: 680px;
          padding: 0 15px;
        }
        .bugherd-btn-danger {
          color: #fff;
          background-color: #d9534f;
          border-color: #d43f3a;
        }
        .bugherd-btn-danger:focus,
        .bugherd-btn-danger.focus {
          color: #fff;
          background-color: #c9302c;
          border-color: #761c19;
        }
        .bugherd-btn-danger:hover {
          color: #fff;
          background-color: #c9302c;
          border-color: #ac2925;
        }

      </style>

      <div class="bugherd">
        <div class="bugherd=container">
          <div class="btn-group" role="group" aria-label="...">
            <a href="//github.com/scieloorg/opac/issues/new" target="_blank" class="btn bugherd-btn-danger">Reportar erro</a>
          </div>
        </div>
      </div>

    {% endif %}
    {% if config.PINGDOM_VISITOR_INSIGHTS_JS_SRC %}
      <script src="{{ config.PINGDOM_VISITOR_INSIGHTS_JS_SRC }}" async></script>
    {% endif %}
  </body>
</html>
