{% extends "collection/base.html" %}
{% block body_class %}portal collection{% endblock %}

{% block main_content %}
  <section class="collection collectionAbout">
    <a name="about-collection"></a>
    <div class="container">
      <div class="row sectionTitle">
        <h1 class="col-md-8 col-sm-7">{% trans %}Declaração sobre aceso aberto{% endtrans %}</h1>
        <div class="col-md-4 col-sm-5 share">
          <a href="javascript:window.print();" class="sharePrint showTooltip" data-placement="top" title="" data-original-title="Imprimir"><span class="glyphBtn print"></span></a>
          <a href="#" class="showTooltip" data-placement="top" title="" target="blank" data-original-title="RSS"><span class="glyphBtn rssMini"></span></a>
          <span class="divisor"></span>
          Compartilhe
          <a href="" class="sendViaMail showTooltip" data-placement="top" title="" data-original-title="Enviar link por e-mail"><span class="glyphBtn sendMail"></span></a>
          <a href="" class="shareFacebook showTooltip" data-placement="top" title="" data-original-title="Compartilhar no Facebook"><span class="glyphBtn facebook"></span></a>
          <a href="" class="shareTwitter showTooltip" data-placement="top" title="" data-original-title="Compartilhar no Twitter"><span class="glyphBtn twitter"></span></a>
          <a href="" class="showTooltip dropdown-toggle" data-toggle="dropdown" data-placement="top" title="" data-original-title="Outras redes sociais"><span class="glyphBtn otherNetworks"></span></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Outras redes sociais</li>
            <li><a href="" class="shareGooglePlus"><span class="glyphBtn googlePlus"></span> Google+</a></li>
            <li><a href="" class="shareLinkedIn"><span class="glyphBtn linkedIn"></span> LinkedIn</a></li>
            <li><a href="" class="shareReddit"><span class="glyphBtn reddit"></span> Reddit</a></li>
            <li><a href="" class="shareStambleUpon"><span class="glyphBtn stambleUpon"></span> StambleUpon</a></li>
            <li><a href="" class="shareCiteULike"><span class="glyphBtn citeULike"></span> CiteULike</a></li>
            <li><a href="" class="shareMendeley"><span class="glyphBtn mendeley"></span> Mendeley</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">

        {% if session.lang == 'pt_BR' %}
          <p>SciELO é um programa de cooperação internacional em comunicação científica em acesso aberto que opera por meio de uma rede de coleções nacionais de periódicos revisados por pares.</p>
          <br>
        {% elif session.lang == 'es' %}
          <p>SciELO es un programa de cooperación internacional en comunicación científica en acceso abierto que opera a través de una red de colecciones nacionales de revistas revisadas por pares.</p>
          <br>
        {% else %}
          <p>SciELO is an international cooperation program on scientific communication in open access operating through a network of national collections of peer-reviewed journals.</p>
          <br>
        {% endif %}

      </div>
    </div>
  </section>
{% endblock %}
