{# Retorna o número do fascículo especial que deve ser exibido #}
{% macro get_doi_by_lang(article, article_lang) -%}
    {%- if article.doi_with_lang -%}
        {%- if article_lang -%}
            {%- for doi in article.doi_with_lang %}
                {%- if doi.language == article_lang -%}
                    {{ doi.doi }}
                {%- endif -%}
            {% endfor %}
        {%- endif -%}
    {%- else -%}
        {{ article.doi }}
    {%- endif -%}
{%- endmacro %}


{% macro get_translate_title_by_lang(article, article_lang) -%}
    {%- if article_lang -%}
        {% if article.original_language == article_lang %}
            {% if article.title -%}
                {{ article.title|escape }}
            {% endif -%}
        {%else -%}
            {%- if article.translated_titles -%}
                {%- for title in article.translated_titles -%}
                    {%- if article_lang == title.language -%}
                        {{ title.name|escape }}
                    {%- endif -%}
                {%- endfor -%}
            {%- endif -%}
        {% endif -%}
    {%- endif -%}
{%- endmacro %}