{#
    Macro para retornar a url da imagem.
#}
{% macro get_home_logo(collection, lang) -%}
    {%- if lang == 'en' -%}
        {{ collection.home_logo_en }}
    {%- elif lang == 'es' -%}
        {{ collection.home_logo_es }}
    {%- elif lang == 'pt_BR' -%}
        {{ collection.home_logo_pt }}
    {%- endif -%}
{%- endmacro %}


{% macro get_header_logo(collection, lang) -%}
    {%- if lang == 'en' -%}
        {{ collection.header_logo_en }}
    {%- elif lang == 'es' -%}
        {{ collection.header_logo_es }}
    {%- elif lang == 'pt_BR' -%}
        {{ collection.header_logo_pt }}
    {%- endif -%}
{%- endmacro %}


{% macro get_menu_logo(collection, lang) -%}
    {%- if lang == 'en' -%}
        {{ collection.menu_logo_en }}
    {%- elif lang == 'es' -%}
        {{ collection.menu_logo_es }}
    {%- elif lang == 'pt_BR' -%}
        {{ collection.menu_logo_pt }}
    {%- endif -%}
{%- endmacro %}

