{#
    Macro para retornar a url da imagem.
#}
{% macro get_home_logo(collection, lang) -%}
    {%- if lang == 'en' -%}
        {{ collection.home_logo_en|default("", true) }}
    {%- elif lang == 'es' -%}
        {{ collection.home_logo_es|default("", true) }}
    {%- elif lang == 'pt_BR' -%}
        {{ collection.home_logo_pt|default("", true) }}
    {%- else -%}
        #
    {%- endif -%}
{%- endmacro %}


{% macro get_header_logo(collection, lang) -%}
    {%- if lang == 'en' -%}
        {{ collection.header_logo_en|default("", true) }}
    {%- elif lang == 'es' -%}
        {{ collection.header_logo_es|default("", true) }}
    {%- elif lang == 'pt_BR' -%}
        {{ collection.header_logo_pt|default("", true) }}
    {%- endif -%}
{%- endmacro %}


{% macro get_menu_logo(collection, lang) -%}
    {%- if lang == 'en' -%}
        {{ collection.menu_logo_en|default("", true) }}
    {%- elif lang == 'es' -%}
        {{ collection.menu_logo_es|default("", true) }}
    {%- elif lang == 'pt_BR' -%}
        {{ collection.menu_logo_pt|default("", true) }}
    {%- endif -%}
{%- endmacro %}

{% macro proxy_ssm_resource_url(ssm_url) -%}
    {%- if ssm_url.startswith('http') and config['SSM_MEDIA_PATH'] in ssm_url -%}
        {{ config['SSM_MEDIA_PATH'] }}{{ ssm_url.split(config['SSM_MEDIA_PATH'])[1] }}
    {%- else -%}
        {{ ssm_url }}
    {%- endif -%}
{%- endmacro %}
