{#
    Macro para retornar a url de um recurso filtrando pelo idioma e pelo tipo.
#}
{% macro get_resource_url(resource, type, lang) -%}
    {% if resource.language == lang and resource.type == type -%}
      {{ resource.url }}
    {%- endif %}
{%- endmacro %}

{#
    Macro para retorna a url de um recurso, apartir de uma lista de recursos
    filtrado pelo idioma e pelo tipo.
#}
{% macro get_resources_url(resource_list, type, lang) -%}
  {% for resource in resource_list -%}
    {{ get_resource_url(resource, type, lang) }}
 {%- endfor %}
{%- endmacro %}
