{% extends 'admin/opac_base.html' %}
{% block body %}
  {{ super() }}
  <div class="row-fluid">

    <div class="col-md-5 col-md-offset-4">

      {% if current_user.is_authenticated %}

        <div class="panel panel-default">
          <div class="panel-heading">{% trans %}Iniciar sessão{% endtrans %}</div>
          <div class="panel-body">
            {% trans %}Você já iniciou sessão!{% endtrans %}
          </div>
        </div>

      {% else %}

        <div class="panel panel-default">
          <div class="panel-heading">{% trans %}Iniciar sessão{% endtrans %}</div>
          <div class="panel-body">
            <form method="POST" action="" class="form-horizontal">
              {% include "admin/includes/forms.html" %}
              <button class="btn btn-primary pull-right" type="submit">{% trans %}Enviar{% endtrans %}</button>
            </form>
          </div>
          <div class="panel-footer">
            <a href="{{ url_for('.reset') }}">{% trans %}Esqueci a senha?{% endtrans %}</a>
          </div>
        </div>

      {% endif %}
    </div>
  </div>
{% endblock body %}
