{% extends 'admin/opac_base.html' %}
{% block body %}
  {{ super() }}
  <div class="row-fluid">
    <div class="col-md-5 col-md-offset-4">
        <div class="panel panel-danger">
          <div class="panel-heading">{% trans %}Email não confirmado!{% endtrans %}</div>
          <div class="panel-body">
            {% trans %}Você <strong>deve</strong> confirmar seu email.<br>
            <strong>Por favor entre em contato com o administrador.</strong>{% endtrans %}
          </div>
        </div>
    </div>
  </div>
{% endblock body %}
