{% extends 'admin/model/edit.html' %}

{% block messages %}
    {{ super() }}
    <div class="alert alert-info alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        {% trans %}<strong>Atenção:</strong> ao selecionar um <strong>periódico</strong> esta página será a página "secundária" do periódico selecionado, caso contrário será uma página da coleção, verificar páginas da coleção em <em>Sobre o SciELO</em>. {% endtrans %}
    </div>
{% endblock %}

{% block tail %}
    {{ super() }}
    <script src="/static/js/ckeditor/ckeditor.js"></script>
    <script>
        var editor_content = CKEDITOR.replace( 'content', {} );
        editor_content.on('instanceReady', function() {
            // Use line breaks for block elements, tables, and lists.
            var dtd = CKEDITOR.dtd;
            var extended_tools = CKEDITOR.tools.extend(
                {},
                dtd.$nonBodyContent, dtd.$block, dtd.$listItem, dtd.$tableContent
            );

            for ( var e in extended_tools ) {
                this.dataProcessor.writer.setRules( e, {
                    indent: true,
                    breakBeforeOpen: true,
                    breakAfterOpen: true,
                    breakBeforeClose: true,
                    breakAfterClose: true
                });
            }
        });
    </script>
{% endblock %}
